<template>
<div :class="formContainerClass">
    <!----СЛОТ для ЗАГОЛОВКА --->
    <slot name="v-form-header"></slot>

    <!--------- ROW CONTAINER --------->
    <div :class="formRowClass">

      <template v-for="(item, fname) in getFormModel">
        <template v-if="item.type">

          <!--- COL CONTAINER  --->
          <div :class="formColClass + ' v-col-' + item.col">
            <fieldset :class="'v-form__field-box _fieldset-box-' + item.type">

              <label v-if="item.type != 'submit'"
                     :class="'v-form__field-label _label-' + item.type">
                      <span v-if="item.required" style="color:red; font-size: 11px; ">*</span>
                     {{item.title}}
              </label>

              <template v-if="item.type == 'text'" > <!---- INPUT --->
                  <input v-model="getFormData[fname]"  @input="emitAction(fname, item)" type="text" class="v-form__field-control _input-control" />
              </template>
              <template v-else-if="item.type == 'date'">
                  <input v-model="getFormData[fname]"  @input="emitAction(fname, item)" type="date" class="v-form__field-control _input-control" />
              </template>
              <template v-else-if="item.type == 'email' || item.type == 'password' || item.type == 'phone' || item.type == 'number'">
                  <input v-model="getFormData[fname]"  @input="emitAction(fname, item)" :type="item.type" class="v-form__field-control _input-control" />
              </template>
              <template v-else-if="item.type == 'textarea'"><!--- TEXTAREA --->
                  <textarea v-model="getFormData[fname]"  @input="emitAction(fname, item)" class="v-form__field-control _textarea-control" ></textarea>
              </template>
              <template v-else-if="item.type == 'select'"><!--- SELECT --->
                  <select v-model="getFormData[fname]" @change="emitAction(fname, item)" class="v-form__field-control _select-control" >
                    <option v-for="(elem) in item.list"
                            :value="elem[item.struct.id]">{{ elem[item.struct.title] }}
                    </option>
                  </select>
              </template>
              <template v-else-if="item.type == 'checkbox'"> <!--- CHECKBOX --->
                  <div class="checkbox-container">
                         <input v-model="getFormData[fname]" @change="emitAction(fname, item)" type="checkbox"
                         class="v-form__field-control _checkbox-control" >
                  </div>
              </template>
              <template v-else-if="item.type == 'radio'"><!--- RADIO --->
                  <div class="radio-container">
                    <template v-for="(elem) in item.list" >
                      <input v-model="getFormData[fname]" :value="elem[0]" @change="emitAction(fname, item)"
                             class="v-form__field-control _radio-control" type="radio">
                        <div class="radio-title-box">{{ elem[1] }}</div>
                    </template>
                  </div>
              </template>
              <template v-else-if="item.type == 'submit'"><!--- SUBMIT --->
<!--                <template v-if="item.fn">-->
<!--                  <button @click="item.fn()" type="button" class="v-form-btn-action">{{ item.title }}</button>-->
<!--                </template>-->
<!--                <template v-else >-->
                  <button @click="submit()" type="button"  class="v-form-btn-action" >{{ item.title }}</button>
<!--                </template>-->
              </template>
              <div v-if="warnMessages[fname] && warnMessages[fname].message"
                   :class="'v-form-warn-messages-box ' + warnMessages[fname]._class" >{{warnMessages[fname].message}}</div>
            </fieldset>
          </div>
          <!--- ./ COL CONTAINER  --->

        </template>
      </template>

    </div>
    <!--------- ./ ROW CONTAINER --------->

    <!----СЛОТ для ПОДВАЛА --->
    <slot name="v-form-footer"></slot>
</div>
</template>

<script>
export default {
  name: "FormEditor",

  props: {

    model: {
      type: Object,
      required: true,
    },

    values: {
      type: Object,
      default: {},
    },

    validate: {
      type: Object,
      default: {},
    },

    action: {
       type: Function,
    },

    submit: {
      type: Object,
      default: {},
    },

  },

  data() {
    return {
      // Данные ---
      formData: {},

      // Оформление ---
      formContainerClass: 'v-form-container',
      formRowClass: 'v-form-row',
      formColClass: 'v-form-item-col',

      warnMessages: {},
    }
  },

  created() {
    this.mappingFormData()
  },

  computed: {

    getFormModel() {
      return this.model;
    },

    dataValues() {
      return this.values;
    },

    getValidate() {
      return this.validate;
    },

    getFormData() {
      return this.formData;
    },

  },

  methods: {

    mappingFormData() {
      for(let name in this.getFormModel) {
        let value = '';
        if(this.dataValues && this.dataValues[name])
          value = this.dataValues[name]
        this.getFormData[name] = value;
      }
    },

    emitAction(fname, item) {
      const data = this.getFormData;
      this.warnMessages[fname] = {};
      let value = data[fname];
      if(item.required && (!value || value == '')) {
         let messageItem = { _class: '_error-message-class', message: 'Это поле обязательно к заполнению'}
         this.warnMessages[fname] = messageItem
      }
      this.$emit('get_form_data', data)
    },

    submit(event) {

      alert('rtyyy');
      // event.preventDefault();
      // const data = this.loadingData();
      // console.log('submit:', data);
      // this.$emit('submit_form_data', data)

    },

    validator(fname) {

      if (!this.getValidate || !this.getValidate[fname]) return false;

      let rules = this.getValidate[fname].split('|');
      let sourceValue = this.getFormModel[fname].value;
      let title = this.getFormModel[fname].title;
      this.getFormModel[fname]['error'] = '';

      for (let i in rules) {
        let item = rules[i];
        let list = item.split(':');
        let rule = list[0];
        let ruleValue = (list[1]) ? list[1] : '';
        let error = '';
        switch (rule) {
          case 'required' :
            error = (!sourceValue || sourceValue == '') ? `Поле ${title} обязательно ` : '';
            break;
          case 'min' :
            error = (sourceValue.length < parseInt(ruleValue)) ? `Должно быть не меньше ${ruleValue} символов` : '';
            break;
          case 'max'      :
            break;
          case 'email'    :
            break;
        }

        if (error) {
          // this.getFormModel[fname]['error'] = error;
          return true;
        }

      }
    },

  },
}
</script>

<style scoped>

/***********************/
/*** СТИЛИ ДЛЯ СЕТКИ ***/
.v-form-container {
  /*width: 100%;*/
  /*margin: 0 auto;*/
  padding: 3px;
}

.v-form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -4px 0px -4px;
  /*border:3px green solid;*/
  /*justify-content: center;*/
}

.v-form-item-col {
  padding: 0px;
  box-sizing: border-box;
  width: calc(100% / 12 * 12 - 8px);
  margin: 4px;
  text-align: center;

  border: 0px red solid;
  color: white;
  background: none;
}

.v-col-12 { width: calc(100% / 12 * 12 - 8px);}
.v-col-11 { width: calc(100% / 12 * 11 - 8px); }
.v-col-10 { width: calc(100% / 12 * 10 - 8px);}
.v-col-9  { width: calc(100% / 12 * 9 - 8px);}
.v-col-8  { width: calc(100% / 12 * 8 - 8px);}
.v-col-7  { width: calc(100% / 12 * 7 - 8px);}
.v-col-6  { width: calc(100% / 12 * 6 - 8px);}
.v-col-5  { width: calc(100% / 12 * 5 - 8px);}
.v-col-4  { width: calc(100% / 12 * 4 - 8px);}
.v-col-3  { width: calc(100% / 12 * 3 - 8px);}
.v-col-2  { width: calc(100% / 12 * 2 - 8px);}
.v-col-1  { width: calc(100% / 12 * 1 - 8px);}
/*** ./ СТИЛИ ДЛЯ СЕТКИ ***/
/***********************/


/***********************/
/*** СТИЛИ ДЛЯ ФОРМЫ ***/

.v-form-container fieldset {
  border: 0px red solid;
  padding: 0px;
  margin: 0px;
  padding-top: 5px;
}

.v-form-container label {
  font-size: 12px;
  z-index: 50;
  font-style: italic;
  color: #b0bed9;
  position: absolute;
  margin-top: -8px !important;
  margin-left: 3px !important;
  padding: 0px 4px 0px 4px !important;
  background: white;
}

.v-form-container input,
.v-form-container textarea,
.v-form-container select{
  height: 30px;
  border: 1px #b0bed9 solid !important;
  padding-left: 5px !important;
  width: 100%;
  outline: none;
}

.v-form-container select {
   height: 30px; cursor: pointer;
  font-size: 12px;
}

.v-form-container .checkbox-container,
.v-form-container .radio-container {
  border: 1px #b0bed9 solid;
  height: 30px;
}

/****** CHECKBOX (оформление) ******/
.v-form-container ._fieldset-box-checkbox {
}
.v-form-container .checkbox-container{
   padding-top: 2px;
}
.v-form-container ._label-checkbox {
  margin-left: 10px;
  position: absolute;
  display: block;
}
.v-form-container input[type='checkbox'] {
   width: 17px; height: 17px; cursor: pointer; margin-top:5px;
}
/****** ./ CHECKBOX (оформление) *****/

/****** RADIO (оформление) *****/
.v-form-container .radio-container {
   display: flex;
   margin-top: 0px;
   padding-top: 5px ;
   padding-left: 4px ;
  justify-content: center;
}
.v-form-container ._fieldset-box-radio {

}
.v-form-container ._label-radio {
  margin-left: 10px;
  position: absolute;
  display: block;
}
.v-form-container input[type='radio'] {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.v-form-container .radio-title-box {
  font-size: 11px; margin-left: 1px; padding-top: 4px; color:black
}
/****** ./ RADIO (оформление) *****/

.v-form-container input[type='file'] {
}

.v-form-container input:focus,
.v-form-container textarea:focus {
  border: 2px dodgerblue solid !important;
  /*box-shadow: 1px 1px 1px 1px #b0bed9;*/
}

/****** SUBMIT (оформление) *****/
.v-form-container .v-form-btn-action {
   border: 0px red solid;
   background: midnightblue;
   color: white;
   height: 31px;
   cursor: pointer;
   width: 100%;
}
.v-form-container .v-form-btn-action:hover {
  background: cornflowerblue;
}

.v-form-container .v-form-warn-messages-box {
   color:green;
   font-size: 10px;
   text-align: left;
   padding:1px 1px 1px 4px;
   font-style: italic;
}

._error-message-class {
  color:red !important;
}
/*** ./ СТИЛИ ДЛЯ ФОРМЫ ***/
/***********************/


</style>
