<template>
  <div class="field_block form_name_block" ><div class="field_wrapper">

    <template v-if="type == 'textarea'">
        <!--====== Textarea ======-->
        <label class="title" >
          {{getTitle}} <span v-if="required" class="formjor-asterisk"> * </span>
        </label>
        <label class="field_content">
             <span class="block_button field"><span class="super_textarea block_button field">
                <textarea :placeholder="placeholder"
                          :value="modelValue" @input="updateValue"
                ></textarea>
             </span></span>
             <span v-if="error" class="notice">{{error}}</span>
        </label>
        <!--====== ./ Textarea ======-->
    </template>
    <template v-else-if="type == 'checkbox'">
       <!--- Checkbox ---->
       <div class="styled_checkbox field_wrapper field_block">
            <label class="custom_check">
              <input :value="modelValue" @input="updateValue"
                     class="hidden" type="checkbox">
              <span class="check_box icon-ok-1"></span>
              <span class="check_name"> {{getTitle}} </span>
            </label>
            <span v-if="error" class="notice">{{error}}</span>
        </div>
        <!--====== /. Checkbox ======-->
    </template>
    <template v-else >
        <!--====== Input (Text) ======-->
        <label class="title" >
           {{getTitle}} <span v-if="required" class="formjor-asterisk"> * </span>
        </label>
        <label class="field_content">
            <span class="super_input block_button field ready">
              <input  :type="type" :placeholder="placeholder"
                      :value="modelValue" @input="updateValue" />
            </span>
            <span v-if="error" class="notice">{{error}}</span>
        </label>
        <!--====== ./ Input (Text) ======-->
    </template>

  </div></div>
</template>

<script>
export default {
  name: "InputText",
  props: {
    modelValue: '',
    title: '',
    placeholder: '',
    required: false,
    error: '',
    type: { type: String, default: 'text', required: false,},
    col: { type: String, default: '12', required: false, },
  },

  computed: {
    getTitle() {
      return this.title;
    },
    getColClass() {
      return this.col;
    },
  },

  methods: {
    updateValue(event) {
      this.$emit('update:modelValue', event.target.value);
    },
  },

}
</script>

<style scoped>
  .title {
    font-style: italic;
    margin-bottom: 2px;
    /*font-size: 14px;*/
  }
</style>