<template>
  <div :class="'col-' + getColClass">
    <fieldset class="form-group fieldset-elem">
      <label class="form-label fieldset-elem__label" >{{getTitle}}</label>

      <template v-if="control == 'select'"></template>
      <select :value="modelValue" @change="updateValue"
              class="select2-arrow manual select2-no-search-arrow custom-form-select">
              <template v-if="getParam">
                <option v-for="(item, index) in getList"
                        :value="item[getParam[0]]">{{item[getParam[1]]}}</option>
              </template>
              <template v-else >
                <option v-for="(label, name) in getList" :value="name" >{{label}} </option>
              </template>
      </select>

    </fieldset>
  </div>
</template>

<script>
export default {
  name: "SearchFormControl",
  props: {
    // modelValue: '',
    control: '',
    title: '',
    list : [],
    param: { type: [], default: null, required: false },
    col  : { type: String, default: '12', required: false },
  },

  data() {
    return {
       modelValue: '',
    }
  },

  computed: {
    getColClass() { return this.col; },
    getTitle()    { return this.title; },

    getParam()     { return this.param; },
    getList()     { return this.list; },
  },

  methods: {
    updateValue(event) {
      let target = event.target;
      this.$emit('get_value', target.value)
    },
  },
}
</script>

<style scoped>

.custom-form-select {
  cursor: pointer;
  height: 32px;
}

</style>