<template>
  <div v-if="alertMessage"
       @click="setAlertInfo({ message : '', color : '', json : null})"
       class="blog-details-content alert-message-wrap" >

    <blockquote
      :style="'background:' + alertColor"
      v-html="alertMessage" >
    </blockquote>

    <div>
      <slot></slot>
    </div>

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: "AlertMessageWrap",
  computed : {
    ...mapGetters([
      'alertColor',
      'alertMessage',
      'alertJson'
    ]),
  },

  methods : {
    ...mapActions([
      'setAlertInfo',
    ]),
  }
}
</script>

<style scoped>
.blog-details-content {
  width:100%;
  border: 0px red solid;
  padding:8px;
  cursor:pointer;
  position: fixed;
  z-index: 9999;
  right:0px;
  text-align: right;
}

.alert-message-wrap {
   /*opacity: 0.4;*/
   text-align: right;
}

blockquote {
  width:35%; margin:0px 2px 0px auto;
  border-radius: 0px;
  padding: 5px; color:black; font-size:19px;
  border: 1px gainsboro solid;
  font-size: 11px;
  width: 300px;
  text-align: center;
}
</style>



