<template>
<div>
  <!-- preloder-wrap -->
      <div v-if="getPreloaderState" id="cssLoader3" class="preloder-wrap" style="opacity: 0.9">

          <div class="loader">
              {{getMessagePrint}}
              <slot></slot>
              <div class="child-common child4"></div>
              <div class="child-common child3"></div>
              <div class="child-common child2"></div>
              <div class="child-common child1"></div>
          </div>

      </div>
  <!-- preloder-wrap -->
</div>
</template>

<script>
import { mapGetters} from 'vuex'
export default {
  name: "Preloading",
  props : ['preloader', 'message'],
  computed : {
      ...mapGetters(['getPreloader', 'getPreloaderMessage']),

      getPreloaderState() {
         let state = false;
         if(this.preloader) state = this.preloader;
         if(this.getPreloader) state = this.getPreloader;
         return state
      },

      getMessagePrint() {
        let message = '';
        if(this.message) message = this.message;
        if(this.getPreloaderMessage) message = this.getPreloaderMessage;
        return message;
      }

  },
}
</script>

<style scoped>

</style>
