<template>
  <div class="header-top bg-2 my__header-top" >

    <div class="container" style=""><div class="row">

        <div class="col-md-4 col-sm-8 col-xs-12">
          <div class="header-top-left">
            <p> Добро пожаловать на сайт!</p>
          </div>
        </div>

        <div class="col-md-8 col-sm-12 col-xs-12"><div class="header-top-right text-right">
            <ul style="border:0px red solid">

              <li><UsersOnline /></li>
              <li><span style="color:white">|</span></li>
              <li><router-link to="/">На главную</router-link></li>
              <li><span style="color:white">|</span></li>
              <li><router-link  to="/auth/register">Регистрация</router-link></li>
              <li><span style="color:white">|</span></li>

              <template v-if="getUserInfo.user_id" >
                  <li><a @click="logout" href="#">Выход</a></li>
                  <li><span style="color:white">|</span></li>
                  <li><div style="color:white;">
                       <i class="fa fa-user"></i>
                       <span style="margin-left: 10px; font-style: italic">
                         {{ getUserInfo.username }}
                       </span>
                  </div></li>
              </template>
              <template v-else>
                  <li><router-link tag="a" to="/auth/login">Войти</router-link></li>
              </template>

            </ul>
        </div></div>

    </div></div>
  </div>
</template>

<script>

import { computed, onMounted } from 'vue';
import useAuth from "@/composables/tmp/useAuth";
import UsersOnline from "@/components/UsersOnline";

export default {

  components: {
    UsersOnline,
  },

  setup() {

    const { logout, currentUser, getStoreCurrentUser } = useAuth();

    const getUserInfo = computed( () => {
       return currentUser
    });

    const getCurrentUserInit = () => {
      let user = getStoreCurrentUser();
      for(let name in user) {
        currentUser[name] = user[name];
      }
    }

    onMounted(() => {
       getCurrentUserInit()
    });

    return {
      logout,
      getUserInfo,
    }
  }

}
</script>

<style scoped>

.container {
  height: 100%; padding-top: 5px;
}

.my__header-top {
  height: 40px; padding: 0px 0px 0px 0px; margin: 0px;
}

@media screen and (max-width: 990px) {
  .my__header-top {
    height: 90px !important;
    font-size: 15px;
    border-bottom: 1px white solid;
  }
}

@media screen and (max-width: 620px) {
  .my__header-top {
    height: 70px !important;
    font-size: 15px;
    border-bottom: 1px white solid;
  }
}

@media screen and (max-width: 420px) {
  .my__header-top {
    height: 90px !important;
  }
}

</style>
