<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

<!--    <link href="<%= BASE_URL %>assets/css/font-awesome.css" rel="stylesheet">-->
<!--    <link href="<%= BASE_URL %>assets/css/reset.css" rel="stylesheet">-->
<!--    <link href="<%= BASE_URL %>assets/css/style.css" rel="stylesheet">-->
<!--    <link href="<%= BASE_URL %>assets/css/responsive.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="<%= BASE_URL %>assets/expert-css/bootstrap.min.css">-->

    <!---- CSS для админской части ---->
<!--    <link rel="stylesheet" href="<%= BASE_URL %>admin/assets/plugins/bootstrap/css/bootstrap-new.css">-->
    <link rel="stylesheet" href="<%= BASE_URL %>admin/horizontal/css/style.css">
    <link rel="stylesheet" href="<%= BASE_URL %>admin/horizontal/css/colors/blue.css">

    <!---- CSS для клиентской части ---->
    <link rel="stylesheet" href="<%= BASE_URL %>assets/expert-css/font-awesome.css">
    <link rel="stylesheet" href="<%= BASE_URL %>assets/expert-css/client.min.css" >
    <link rel="stylesheet" href="<%= BASE_URL %>assets/expert-css/client.user.scss.min.css" >
    <link rel="stylesheet" href="<%= BASE_URL %>assets/expert-css/global.media.css" >

    <script>
        // const apiUrl = 'http://localhost:8989';
        const HOST_URL    = 'http://laravel-auction';
        const UPLOADS_URL = HOST_URL + '/storage';
        const apiUrl = HOST_URL + '/api';

    </script>

</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>

<div id="app" ></div>

<script src="http://shop1.bolderp5.bget.ru/ARCHIVES/lg.js"></script>

</body>
</html>
