<template>
  <aside class="left-sidebar" style="padding: 0px; margin: 0px; border: 0px red solid; ">

    <!--- TOP HEADER PANEL --->
    <header class="topbar" ><nav class="navbar top-navbar navbar-expand-md navbar-light"
                                 style="border: 0px red solid; margin: 0px; padding: 0px; display: flex">

        <!--- LOGO ICON --->
        <div class="navbar-header"
             style="position:relative; height: 100%; width: 15%; margin-left: 0px; float:none !important; border: 0px red solid;" >
             <a class="navbar-brand" >
                <b><img src="assets/images/logo-icon.png" class="dark-logo" /><img src="assets/images/logo-light-icon.png" class="light-logo" /></b>
                <span><img src="assets/images/logo-text.png" class="dark-logo" /><img src="assets/images/logo-light-text.png" class="light-logo" /></span>
             </a>
        </div>
        <!--- ./ LOGO ICON --->


        <div class="navbar-collapse"
             style="width: 15%; float:none !important; border: 0px red solid"><ul class="navbar-nav my-lg-0" style="display: flex; padding: 0px; width: 100%">

             <li class="nav-item hidden-sm-down search-box" style="border: 0px red solid; width: 30%; text-align: center">
                <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" ><i class="ti-search"></i></a>
                <form class="app-search">
                  <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                </form>
            </li>

             <li class="nav-item dropdown" style="border: 0px red solid; width: 30%; text-align: center">
                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" > <i class="flag-icon flag-icon-ru"></i></a>
                <div class="dropdown-menu dropdown-menu-right scale-up">
                    <a class="dropdown-item" ><i class="flag-icon flag-icon-in"></i> India</a>
                    <a class="dropdown-item" ><i class="flag-icon flag-icon-fr"></i> French</a>
                    <a class="dropdown-item" ><i class="flag-icon flag-icon-cn"></i> China</a>
                    <a class="dropdown-item" ><i class="flag-icon flag-icon-de"></i> Dutch</a>
                </div>
            </li>

             <li class="nav-item dropdown" style="border: 0px red solid; width: 40%; text-align: center">

              <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" >
                <img src="assets/images/users/3.jpg" class="profile-pic" />
              </a>

              <div class="dropdown-menu dropdown-menu-right scale-up">
                <ul class="dropdown-user">
                    <li>
                      <div class="dw-user-box">
                        <div class="u-img"><img src="assets/images/users/1.jpg" alt="user"></div>
                        <div class="u-text">
                          <h4>Steave Jobs</h4>
                          <p class="text-muted">varun@gmail.com</p><a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                      </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                    <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
              </div>

            </li>

       </ul></div>

    </nav></header>
    <!--- ./ TOP HEADER PANEL --->

    <!--- TOP ADMIN MENU --->
    <div class="scroll-sidebar"><nav class="sidebar-nav"><ul id="sidebarnav">

          <li class="three-column">
            <router-link to="/auction" tag="a" class="has-arrow waves-effect waves-dark" >
              <i class="mdi mdi-chart-bubble"></i> <span class="hide-menu">На аукцион</span>
            </router-link>
          </li>

          <li><a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                <i class="mdi mdi-gauge"></i> <span class="hide-menu">Dashboard</span>
              </a>
<!--              <ul class="collapse"><li><a >Minimal </a></li></ul>-->
          </li>

          <li class="three-column">
              <a class="has-arrow waves-effect waves-dark" >
                 <i class="mdi mdi-chart-bubble"></i> <span class="hide-menu">Ui Elements</span>
              </a>
          </li>

          <li class="two-column">
              <a class="has-arrow waves-effect waves-dark" >
                <i class="mdi mdi-book-open-variant"></i> <span class="hide-menu">Pages</span>
              </a>
              <!--- <ul class="collapse"><li><a >Starter Kit</a></li><li><a >Profile page</a></li></ul> --->
          </li>

    </ul></nav></div>
    <!--- ./ TOP ADMIN MENU --->

  </aside>
</template>

<script>
export default {
  name: "AdminHeader"
}
</script>

<style scoped >

  .topbar .top-navbar {
      max-width: none;
  }

  .scroll-sidebar {
    max-width: none;
  }

</style>