<template>

<div class="row" style="border: 0px red solid">

  <!--- ЛЕВАЯ ЧАСТЬ (Добавление нового раунда) (Список лотов) --->
  <div class="col-lg-6" >
    <div class="card">

      <div class="card-body">
         <h3 class="card-title">Создание нового раунда аукциона</h3>

         <div v-if="getResponseInfo.status && getResponseInfo.action == 'add_round'" >

             <button class="btn" @click="initResponseInfo()"
                     style="position: absolute; margin-top:5px; right: 28px !important;">Очистить</button>

             <div v-if="getResponseInfo.code == 200"
                  style="text-align: center; padding: 10px; border: 2px green solid">
                 <div style="color:green; font-weight: bold" v-html="getResponseInfo.message"></div>
             </div>
             <div v-else-if="getResponseInfo.code == 201"
                  style="text-align: center; padding: 10px; border: 2px red solid">
                  <div style="color:red; font-weight: bold">{{getResponseInfo.message}}</div>
             </div>
             <div v-else-if="getResponseInfo.code == 403"
                  style="text-align: center; padding: 10px; border: 2px red solid">
                  <div style="color:red; font-weight: bold">У Вас недостаточно прав для создания раунда</div>
                  <div style="color:red; font-size: 11px;">Возможна Вам нужно авторизироваться</div>
             </div>
             <div v-else-if="getResponseInfo.code == 422" style="text-align: left; padding: 10px; border: 2px red solid">
                  <div v-for="(value, name) in getResponseInfo.errors"
                    style="color:red; font-weight: bold"> {{value[0]}} </div>
             </div>
             <div v-else style="text-align: center; padding: 10px; border: 2px red solid">
               <div style="color:red; font-weight: bold">Непопределенная ошибка</div>
               <pre>{{getResponseInfo}}</pre>
             </div>

         </div>

      </div>

      <!--- Добавление нового раунда --->
      <div class="bg-light p-20"><div class="d-flex"><div class="row">

          <div class="col-lg-6"><div class="form-group">
              <label>Начало аукциона <span class="help"></span></label>
              <input v-model="roundItem.start_date" type="datetime-local" class="form-control" style="cursor: pointer;">
          </div></div>

          <div class="col-lg-6"><div class="form-group">
            <label> Окончание аукциона <span class="help"></span></label>
            <input v-model="roundItem.end_date" type="datetime-local" class="form-control" style="cursor: pointer;">
          </div></div>

          <div class="col-lg-6"><div class="form-group">
            <label> Тип торгов <span class="help"></span></label>
            <select v-model="roundItem.auction_type" class="form-control" style="width: 100%">
              <option v-for="(title, num) in getAuctionTypes"
                      :value="num">{{ title }}</option> </select>
          </div></div>

          <div class="col-lg-6" style="margin-top: 25px; border: 0px red solid" >
               <button @click="addRound()" type="button" style="height: 38px;"
                       class="btn waves-effect waves-light btn-block btn-info"> Создать раунд </button>
          </div>

      </div></div></div>
      <!--- ./ Добавление нового раунда --->

      <div class="card-body">
        <h3 >Список раундов</h3>
        <div class="table-responsive">
            <table class="table table-hover earning-box">
                <thead><tr>
                   <th>Тип торгов</th>
                   <th>Дата начала</th>
                   <th>Дата окончания</th>
                   <th style="width: 10px">Кол.</th>
                </tr></thead>

                <tbody><tr v-for="(item) in getAllRounds"
                      @click="selectRound(item, $event)" style="cursor: pointer" class="round-item">
                      <td><div class="label label-info">{{getAuctionTypes[item.auction_type]}}</div></td>
                      <td><div class="label label-info">{{item.start_date}}</div></td>
                      <td><div class="label label-info">{{item.end_date}}</div></td>
                      <td style="width: 10px"><span v-if="item.lots_count" class="date" >{{item.lots_count}}</span></td>
                </tr></tbody>
            </table>
        </div>
      </div><!--- card-body --->

    </div>
  </div>

  <!--- ПРАВАЯ ЧАСТЬ (Панель добавления лотов) --->
  <div class="col-lg-6"><div  class="card">

        <div class="card-body">
          <h3 class="card-title">Панель добавления лотов</h3>
          <h6 v-if="selectRoundItem.start_date" class="card-subtitle">
            {{selectRoundItem.start_date}} __ {{selectRoundItem.end_date}} __ {{getAuctionTypes[selectRoundItem.auction_type]}}
          </h6>

          <div v-if="getResponseInfo.status && getResponseInfo.action == 'add_lots'" >

            <button class="btn" @click="initResponseInfo()"
                    style="position: absolute; margin-top:5px; right: 28px !important;">Очистить</button>

            <div v-if="getResponseInfo.code == 200"
                 style="text-align: center; padding: 10px; border: 2px green solid">
                 <div style="color:green; font-weight: bold" v-html="getResponseInfo.message"></div>
            </div>
            <div v-else-if="getResponseInfo.code == 201"
                 style="text-align: center; padding: 10px; border: 2px red solid">
              <div style="color:red; font-weight: bold">{{getResponseInfo.message}}</div>
            </div>
            <div v-else-if="getResponseInfo.code == 403"
                 style="text-align: center; padding: 10px; border: 2px red solid">
              <div style="color:red; font-weight: bold">У Вас недостаточно прав для добавления лотов</div>
              <div style="color:red; font-size: 11px;">Возможна Вам нужно авторизироваться</div>
            </div>
            <div v-else-if="getResponseInfo.code == 422" style="text-align: left; padding: 10px; border: 2px red solid">
              <h4 style="color:red; font-style: italic">Критическая ошибка</h4>
              <div v-for="(value, name) in getResponseInfo.errors"
                   style="color:red; font-weight: bold"> {{value[0]}} </div>
            </div>
            <div v-else style="text-align: center; padding: 10px; border: 2px red solid">
              <div style="color:red; font-weight: bold">Непопределенная ошибка</div>
              <pre>{{getResponseInfo}}</pre>
            </div>
<!--            <pre>{{getResponseInfo}}</pre>-->

          </div>
        </div>

        <template v-if="selectRoundItem.start_date" >
            <!---  --->
            <div class="bg-light p-10"><div class="d-flex-1" style="width: 100%" ><div class="row">

              <div class="col-lg-6"><div class="form-group" style="width: 100%" >
                <label> Статус лотов <span class="help"></span></label>
                <select v-model="roundItem.lot_status" class="form-control" style="width: 100%">
                  <option v-for="(title, num) in getLotStatuses" :value="num" >{{ title }}</option> </select>
              </div></div>

              <div class="col-lg-6" style="margin-top: 25px; border: 0px red solid" >
                <button @click="addLots()" type="button" style="height: 38px;"
                        class="btn waves-effect waves-light btn-block btn-info"> Добавить лоты </button>
              </div>

            </div></div></div>
            <!--- ./  --->

            <div class="comment-widgets-1" ><div class="comment-footer form-group" style="padding: 10px">
                  <textarea v-model="carVins" class="form-control" rows="15" placeholder="Vin авто"
                            style="width: 100%; border: 1px gainsboro solid"></textarea>
            </div></div>
        </template>

  </div></div>

</div>

</template>

<script>

import {mapGetters, mapActions, mapMutations } from 'vuex';

export default {

  data: () => ({

    selectRoundItem: {},

    roundItem: {
      start_date: '',
      end_date: '',
      auction_type: 1,
      profile_id: '',
      lot_status : 1,
    },

    activeRoundId: 0,
    activeAuctionType: 1,
    carVins: '',

  }),

  created() {
     this.getRounds();
  },

  computed: {
    ...mapGetters([
      'getAuctionTypes',
      'getActiveRounds',
      'getAllRounds',
      'getLotStatuses',
      'getResponseInfo',
    ]),
  },

  methods: {

    ...mapActions([
      'fetchActiveRounds',
      'addAuctionRound',
      'fetchAllRounds',
      'createLots',
    ]),

    ...mapMutations([
      'initResponseInfo',
    ]),

    getRounds(auction_type = 0, limit = 0) {
       this.fetchAllRounds({ type: auction_type, limit})
    },

    addLots() {

      const type = this.selectRoundItem.auction_type;
      let profileId  = 1;
      let categoryId = 1;
      let status = this.roundItem.lot_status;

      const lotForm = {
         car_vins : this.carVins,
         round_id : this.activeRoundId,
         auction_type: type,
         profile_id  : profileId,
         category_id : categoryId,
         status      : status,
      }

      this.createLots(lotForm).then(responseStatus => {
           // if(responseStatus)
           setTimeout(() => {
             this.carVins = '';
           }, 100)
      });

    },

    roundDateConvert(name) {
      let res = this.roundItem[name].split("T");
      this.roundItem['date'] = res[0];
      this.roundItem['time'] = res[1];
      this.roundItem[name] = res.join(" ");
    },

    addRound() {
      this.roundDateConvert('start_date');
      this.roundDateConvert('end_date');
      this.addAuctionRound(this.roundItem);
    },

    selectRound(item, event) {
      this.activeRoundId = item.id;
      this.selectRoundItem = item;
      this.roundItemActiveClass(event);
    },

    roundItemActiveClass(event) {
      let elemsClass  = '.round-item';
      let elemClassActive = 'round-item-active';
      this.updateElemClassActive(elemsClass, elemClassActive, event.currentTarget)
    },

  },

}
</script>

<style scoped>

  .round-item:hover {
     background: lightsteelblue;
     cursor: pointer;
     padding: 5px;
  }

  .round-item-active {
      color: green !important;
      border-bottom: 1px green solid;
  }

  .round-item-active {
      background: gainsboro;
  }

</style>