<template>

  <!-- <modal-wrapper-->
  <!--     :show="itemModal.status"-->
  <!--      title="Подтверждение ставки"-->
  <!--      @close="close()" >-->
  <!--      <template v-slot:fields-container></template>-->
  <!--      <template v-slot:buttons-container></template>-->
  <!-- </modal-wrapper>-->

  <div class="col-lg-4 col-md-4"><div class="additional_page_menu">
      <div class="menu-header icon-angle-down">Профили</div>
      <div class="menu_container" style="border-top: 0px gainsboro solid; padding: 10px">
        <div class="menu_container"><ul class="nav nav-pills nav-stacked">
            <li v-for="(item, i) in profiles"
                :class="{'active': item.is_select}" >
                <a @click.prevent="selectProfile(item, i)" href="#" >{{item.name}}</a>
            </li>
        </ul></div>
      </div>
  </div></div>

  <div class="col-lg-8 col-md-8"><div class="page_content_in_block clearfix no_border_xs">

      <a @click.prevent="addProfile()" class="super_button orange_btn" href="#" style="margin-bottom: 20px">
         <span class="button_label no_icon"> Создать профиль</span>
      </a>

<!--      <pre>{{profile}}</pre>-->
<!--      <pre>{{user}}</pre>-->

      <div v-if="profile.user_id" class="fields_group_content clearfix"
           style="border:0px gainsboro solid; width: 100%; margin: 0px auto 0px auto; padding: 0px">
           <div class="row page-content-row">
              <div class="col-lg-12">
                <InputText v-model="profile.name" title="Имя" :required=true />
              </div>
              <div class="col-lg-6">
                <InputText v-model="profile.email" title="email" :required=true />
              </div>

              <div class="col-lg-6">
                <InputText v-model="profile.phone" title="Телефон" :required=true />
              </div>

              <div class="col-lg-6">
                <div class="field_block form_name_block" ><div class="field_wrapper">
                    <label class="title" >Тип профиля</label>
                    <label class="field_content">
                        <select v-model="profile.profile_type">
                          <option v-for="(item) in profileTypes"
                                  :value="item.id" >{{item.title}}</option>
                        </select>
                    </label>
                </div></div>
              </div>

              <div class="col-lg-6">
                  <div class="field_block form_name_block" ><div class="field_wrapper">
                      <label class="title" >Активность</label>
                      <label class="field_content">
                          <span class="">
                             <input v-model="profile.active" :true-value=1 :false-value=0 type="checkbox"
                                    style="opacity: 1 !important; position: relative !important; left: 0px;" />
                          </span>
                      </label>
                  </div></div>
              </div>

           </div>

           <a @click.prevent="save()" class="super_button orange_btn" href="#">
              <span class="button_label no_icon"> Сохранить </span>
           </a>

      </div>

  </div></div>

</template>

<script>

export default {

  name: "Profiles",
  props: ['profiles', 'user'],
  data() {
    return {
      profile: {},
      profileTypes: [
        { id: 1, title: 'Покупатель (Физическое лицо)'},
        { id: 2, title: 'Покупатель (Юридическое лицо)'},
        { id: 3, title: 'Продавец (Физическое лицо)'},
        { id: 4, title: 'Продавец (Юридическое лицо)'},
      ],
    }
  },

  computed: {
  },

  methods: {

      addProfile() {
          this.profile = {};
          for(let i in  this.profiles) {
             let profile = this.profiles[i];
             for(let name in  profile) {
                if(name == 'id' || name == 'created_at' || name == 'created_at' || name == 'updated_at' )
                  continue;

                if(name == 'user_id') {
                  this.profile[name] = this.user.id;
                } else {
                  this.profile[name] = '';
                }
             }
             return true;
          }
      },

     selectProfile(item, i) {
        this.profiles.map((item) => { item['is_select'] = false;})
        this.profiles[i]['is_select'] = true;
        this.profile = item;
     },

     save() {
        this.profile.user_id = this.user.id;
        this.$emit('save', this.profile);
     }
  },  // methods

}
</script>

<style >
  .field_wrapper {
     border: 0px red solid;
     margin-bottom:10px;
  }
</style>