<template>

<!--<pre>{{form}}</pre>-->
<!--<pre>{{getSearchForm}}</pre>-->
<!--<pre>{{marks}}</pre>-->

<div class="search_panel_container search_ready cars-block-sm" style="border:0px green solid">
  <div class="search_panel" ><div class="body_scroll_fix" >
    <div class="container" style="padding-bottom:15px; border:0px blue solid">

      <!----- Форма поиска    ----->
      <div class="row main_params_block collapsed_xs_sm1" >

            <!--   <form-control col="6" title="Марка" contol="select" :list="marks" :param="['mark_id', 'mark_name']" />-->

            <div class="col-lg-3 col-md-6 div-search-block" style="">

                  <!--- Город --->
                  <div class="search-select-box" style="margin-left: 0px" >
                    <div class="search-input-title">Город</div>
                    <select @change="updateSearchForm()" v-model="form.city_id"
                            class="search_panel_selector full_width search-select-control">
                            <option value="" >Выбрать город</option>
                            <option v-for="(item) in cities" :value="item.city_id">{{ item.city_name }}</option>
                    </select>
                  </div>
                  <!--- ./ Город --->

                  <!--- Марка --->
                  <div class="search-select-box" >
                      <div class="search-input-title">Марка</div>
                      <select @change="selectMark()" v-model="form.mark_id"
                            class="search_panel_selector full_width search-select-control">
                            <option value=0 >Выбрать марку</option>
                            <option v-for="(item) in marks" :value="item.mark_id">{{ item.mark_name }}</option>
                      </select>
                  </div>
                  <!--- ./ Марка --->

            </div>

            <div class="col-lg-3 col-md-6 div-search-block" style="">
                  <!--- Модель --->
                  <div class="search-select-box"  >
                    <div class="search-input-title">Модель</div>
                    <select @change="updateSearchForm()" v-model="form.model_id"
                            class="search_panel_selector full_width search-select-control">
                            <option value="0" >Выбрать модель</option>
                            <option v-for="(item) in selectMarkModels" :value="item.model_id" >{{ item.model_name }}</option>
                    </select>
                  </div>
                  <!--- ./ Модель --->
                  <!--- НДС --->
                  <div class="search-select-box"  >
                    <div class="search-input-title">НДС</div>
                    <select @change="updateSearchForm()" v-model="form.nds"
                            class="search_panel_selector full_width search-select-control">
                            <option value="-1" >Выбрать все</option>
                            <option value="1"  >Включен</option>
                            <option value="0"  >Не облагается</option>
                    </select>
                  </div>
                  <!--- ./ НДС --->
            </div>

            <div class="col-lg-3 col-md-6 div-search-block" >
                  <!----- Кнопка поиска ----->
                  <div class="search-select-box" style="width: 180px; border: 0px white solid">
                    <a  v-if="getActiveAuctionCount"
                        @click="sendLots()" class="start_search_button search_panel_button super_button black_btn"
                        style="margin-top: 25px; text-align: center; width: 100%">
                        <span class="gradient"></span>
                        <span class="button_label" style="text-align: center; padding-left:0px">
                          <i class="fa fa-share" aria-hidden="true"></i>
                          <span style="margin-left: 4px;">Показать {{getActiveAuctionCount}} авто</span>
                        </span>
                    </a>
                    <div v-else
                       class="start_search_button search_panel_button super_button"
                       style="margin-top: 25px; text-align: center; width: 100%; background: #b0bed9">
                       <span class="gradient"></span>
                       <span class="button_label" style="text-align: center; padding-left:0px">
                          <i class="fa fa-share" aria-hidden="true"></i>
                          <span style="margin-left: 4px;">Показать  авто</span>
                        </span>
                    </div>

                  </div>
                  <!----- ./ Кнопка поиска ----->

                  <!----- Очистить фильтры ----->
                  <div class="search-select-box" style="width: 120px;">
                    <a  @click="clearFilters()" class="start_search_button search_panel_button super_button black_btn"
                        style="margin-top: 25px; text-align: center; width: 100%">
                        <span class="gradient"></span>
                        <span class="button_label" style="text-align: center; padding-left:0px">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                            <span style="margin-left: 4px;"> Очистить</span>
                        </span>
                    </a>
                  </div>
                  <!----- ./ Очистить фильтры ----->
            </div>

            <div class="col-lg-3 col-md-6 div-search-block" style="">
                <!----- Кнопка расширенного поиска ----->
                <div class="search-select-box-1"
                     style="width: 250px; border: 0px white solid; margin-left: auto; height: 100%">
                     <a class="super_button black_btn open_close_panel filter_button"
                       style="margin:0px; margin-top: 27px; text-align: center; width: 100%" >
                       <span class="gradient"></span>
                       <span class="button_label" style="text-align: center;">Расширенный &nbsp; поиск</span>
                       <!--  <span class="pct"><span class="count" style="display: inline;">1</span></span>-->
                    </a>
                </div>
                <!----- ./ Кнопка расширенного поиска ----->
            </div>


      </div>
      <!----- ./ Форма поиска ----->

      <!----- Расширенная форма поиска   ----->
      <div class="row main_params_block" >

        <div class="col-lg-3 col-md-6 div-search-block" >
            <!--- Vin --->
            <div class="search-select-box" style="margin-left: 0px" >
              <div class="search-input-title">Vin</div>
              <input @input="updateSearchForm()" v-model="form.vin"  placeholder="Vin"
                     type="text" class="form-control search-input-control"/>
            </div>
            <!--- ./ Vin --->

            <!--- № лота --->
            <div class="search-select-box" >
              <div class="search-input-title">№ лота</div>
              <input @input="updateSearchForm()" v-model="form.lot_id"  placeholder="№ лота"
                     type="text" class="form-control search-input-control"/>
            </div>
            <!--- ./ № лота --->
        </div>

        <div class="col-lg-3 col-md-6 div-search-block" style="">
            <!--- Цена от --->
            <div class="search-select-box"  >
              <div class="search-input-title">Цена от</div>
              <input @input="updateSearchForm()" v-model="form.price_from"  placeholder="Цена от"
                     type="text" class="form-control search-input-control"/>
            </div>
            <!--- ./ Цена от --->
            <!--- Цена до --->
            <div class="search-select-box"  >
              <div class="search-input-title">Цена до</div>
              <input @input="updateSearchForm()" v-model="form.price_to"  placeholder="Цена до"
                     type="text" class="form-control search-input-control"/>
            </div>
            <!--- ./ Цена до --->
        </div>

        <div class="col-lg-3 col-md-6 div-search-block" >
          <!-----  ----->
          <div class="search-select-box" style="width: 180px; border: 0px white solid">

          </div>
          <!----- ./  ----->
          <!----- ----->
          <div class="search-select-box" style="width: 120px;">

          </div>
          <!----- ./  ----->
        </div>

        <div class="col-lg-3 col-md-6 div-search-block" >
          <!-----  ----->
          <div class="search-select-box-1"
               style="width: 250px; border: 0px white solid; margin-left: auto; height: 100%">

          </div>
          <!----- ./ ----->
        </div>

      </div>
      <!----- ./ Расширенная форма поиска ----->

</div></div></div></div> <!--- .search_panel .body_scroll_fix .container ---->

</template>

<script>

import {mapGetters, mapActions, mapMutations} from 'vuex';
import apiClient from "@/api/api.endpoints";
// import FormControl from '@/components/form/SearchFormControl';

export default {
  name: "AuctionSearchForm",
  data: () => ({
    marks: [],
    models: [],
    cities: [],
    selectMarkModels: [],
    form : {},
    auctionType: 1,
  }),

  created() {
    this.form = this.searchFormInit();
    this.setSearchForm(this.form);
    this.getMarksAndModels();
  },

  computed: {
    ...mapGetters([
      'getSearchForm',
      'getLotsCount',
      'getActiveRounds',
      'getActiveAuctionCount',
    ]),
  },

  methods: {
    ...mapMutations(['setSearchForm']),
    ...mapActions(['fetchActiveAuction',
                   'fetchActiveAuctionCout',]),

    searchFormInit() {
      return  {
        page: 1,
        limit: 12,
        mark_id: 0,
        model_id: 0,
        price_from: '',
        price_to: '',
        vin: '',
        lot_id: '',
        city_id: '',
        nds: 0,
        order_by : {
           start_price: 'desc',
        },
      }
    },

    getMarksAndModels() {
        let auctionType = this.auctionType;
        this.apiClient.getDataForSearchForm(auctionType).then((response) => {
            const result = response.result;
            this.marks   = result.marks;
            this.models  = result.models;
            this.cities  = result.cities;
        });
    },

    sendLots() {
        this.updateSearchForm();
        this.fetchActiveAuction();
    },

    updateSearchForm() {
         const searchForm = this.form;
         this.setSearchForm(searchForm);
         this.fetchActiveAuctionCout();
    },

    clearFilters() {
         this.form = this.searchFormInit();
         this.sendLots();
    },

    selectMark() {
         const selectedModels = [];
         const selectMarkId = parseInt(this.form.mark_id);
         for (let i in this.models) {
            let model = this.models[i];
            let curMarkId = parseInt(model.mark_id)
            if (selectMarkId !== curMarkId) continue
            selectedModels.push(model);
         }
         this.selectMarkModels = selectedModels;
         this.updateSearchForm();
    },

  },

}
</script>

<style>

.fieldset-elem__label{
  position:relative; margin: 0px; padding: 3px;
  border: 0px red solid; width: 100%; z-index: 99;
  color: white;font-weight: bold
}

.fieldset-elem {
    width: 100%;
    border: 1px green solid;
    margin: 0px;
    padding: 0px;
}

.custom-form-select {
    height: 35px !important;
    width: 96%;
}

</style>


<style scoped >


.div-search-block {
   display: flex;
   border: 0px white solid;
}

.search-select-box {
  width: 150px;
  border: 0px green solid;
  margin: 4px;
  padding: 0px;
}

.search-input-title {
  position:relative; margin: 0px; padding: 3px;
  border: 0px red solid; width: 100%; z-index: 99;
  color: white;font-weight: bold
}

.search-select-control {
  margin: 0px 0px 10px 0px; padding: 0px;
}

.search-input-control {
  height: 38px;
  border: 1px #ffd000 solid;
}

</style>