<template>
<transition name="bid_transition">
  <div v-if="bidInfo.status" class="mopup major_expert_mopup views_panel"
     style="padding:0px; top:20px; bottom: auto" ><div class="views_block" style="">

     <div class="views_block_content" style="padding: 15px 25px 15px 25px; width: 100%; border: 0px red solid;">
        <div class="views_block_text" style="padding: 0px">
          <a class="buy_car close_mopup white_dotted_link " >
            <span class="buy_text" style="padding:8px"> {{getTitle}} </span>
          </a>

          <p> Ставка на лот №: <span class="views_amount"> {{lot.lot_id}} </span>,
              cумма ставки <span class="views_amount"> {{lot.last_bid.price}} </span> <i class="fa fa-rub" ></i>
          </p>

          <div class="cars-list cars-mini bottom_fixed_offset -cars" style="border: 0px gainsboro solid; margin-bottom: 0px">
            <!---- CAR ITEM CONTAINER --->
            <div class="car reserve_enabled" style="width: 100%"><a class="car-content sm-block  smart_touch car_uid_1475535" >

              <div class="sm-block-bottom car-content-wrapper">
                <!---- FOTO --->
                <div class="car-image-container">
                  <img src="https://www.major-expert.ru/cars_images/1475535/2D/preview/1475535_13752281.JPG" class="car-image js-car-image car-image-default lazyloaded" >
                </div>

                <!----  PARAMS  --->
                <div class="car-inline-content" >

                  <div class="car-complectations">
                    <div class="car-title" style="font-size: 14px">{{lot.mark_name}} {{lot.model_name}} {{lot.modification_name}}</div>
                  </div>

                  <div class="car-info">

                      <div class="car-params-wrapper">
                        <div class="car-params-text" style="font-size: 12px"> {{lot.year}} г.  {{lot.drive_type}}   {{lot.fuel_type}}  {{lot.transmission}} </div>
                      </div>

                      <div class="car-price-wrapper"><div class="car-price has-discount" style="font-size: 12px">
                          Стартовая цена: <span class="car-actual-price" style="font-size: 12px">  &nbsp; {{lot.start_price}} <i class="fa fa-rub" ></i> </span>
                      </div></div>

                  </div>
                </div>
                <!---- ./ PARAMS --->
              </div>
            </a></div>
            <!---- ./ CAR ITEM CONTAINER --->
          </div><!--- .cars-list (container) --->

<!--          <pre style="height:260px; overflow: scroll; ">{{getNewBidResponseEvent}}</pre>-->

        </div>
    </div>

    <div @click="close()" class="close_mopup x_close_button" style="background: none">
       <i class="fa fa-window-close" style=""></i>
    </div>

 </div></div>
</transition>
</template>

<script>

import {mapGetters, mapMutations} from 'vuex';

export default {
  name: "BidModalBrodcastPanel",
  data() {
    return {}
  },

  computed: {

     ...mapGetters(['getNewBidResponseEvent']),

    bidInfo() {
       return this.getNewBidResponseEvent;
    },

    lot() {
      return this.getNewBidResponseEvent.lot;
    },

    bid() {
      return this.getNewBidResponseEvent.bid;
    },

    getAction() {
       return this.getNewBidResponseEvent.fn;
    },

    getTitle() {
        return (this.getAction == 'buyNow') ?
              "ЛОТ ВЫКУПЛЕН" : "НОВАЯ СТАВКА"
    },

  },

  methods: {

     ...mapMutations(['setNewBidResponseEvent']),

     close() {

       const newBidEvent = {
         status: false,
         lot: {},
         bid: {},
       }

       this.setNewBidResponseEvent(newBidEvent)
     }
  },
}


</script>

<style scoped>

  .x_close_button:before {
     content: none;
  }

  .bid_transition-enter {
    opacity: 0;
  }

  .bid_transition-leave-active {
    opacity: 1;
  }

  .bid_transition-enter .views_panel,
  .bid_transition-leave-active .views_panel {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
</style>