<template>
  <div class="container">
    <div class="review-area">
      <h3 style="margin: 10px 0px 10px 0px">Создать новый раунд аукциона</h3>
      <div class="review-form">
        <form action="index.html">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="name-input">
                <input type="text" placeholder="Full Name">
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="email-input">
                <input type="email" placeholder="Email Address">
              </div>
            </div>
          </div>

          <div class="message-input">
            <textarea name="review" cols="30" rows="5" placeholder="Message"></textarea>
          </div>

          <div class="input-submit">
            <button type="submit">Comment</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "RoundsPanel"
}
</script>

<style scoped>

</style>