<template>
<!--  <pre>{{getProfile}}</pre>-->
<div class="car reserve_enabled" ><div class="car-content sm-block  smart_touch"
                                       style="cursor: pointer; border: 1px gainsboro solid" >
<!--      {{getProfileId}} / {{getUserId}}-->
<!--      <pre>{{item}}</pre>-->
      <!--- Кнопка favorite ---->
      <span class="favorites-button favorites_button favorites icon-dummy" >
         <i class="fa fa-star-o favorite-icon" aria-hidden="true" style="color:gainsboro; font-size: 22px;"></i>
<!--         <i class="fa fa-star" aria-hidden="true" style="color:#ec7616; font-size: 23px;"></i>-->
      </span>
      <!--- ./ Кнопка favorite ---->

      <!--- Параметры авто (Марка,модель, год и т.д.) --->
      <div class="sm-block-top">
        <div class="sm-title-wrapper" >
          <div class="sm-car-title -brand">{{ lot.mark_name }} </div>
          <div class="sm-car-title -model">{{ lot.model_name }}</div>
        </div>
        <div class="car-params-wrapper sm-car-params-wrapper">
          <div class="car-params">

            <div class="car-param-others">

              <template v-if="lot.modification_name || lot.fuel_type" >
                <span class="car-param" >{{ lot.modification_name }} {{ lot.fuel_type }}</span>
                <span style="margin: 0px 5px 0px 3px">/</span>
              </template>

              <template v-if="lot.transmission" >
                <span class="car-param" > {{ lot.transmission }} </span>
                <span style="margin: 0px 5px 0px 3px">/</span>
              </template>

              <span v-if="lot.drive_type" class="car-param" >{{ lot.drive_type }}</span>

            </div>

            <div class="car-param-others">

              <template v-if="lot.body_type">
                <span class="car-param"> {{ lot.body_type }} </span>
                <span style="margin: 0px 5px 0px 3px">/</span>
              </template>

              <template v-if="lot.engine_size" >
                <span class="car-param" > Объем:{{ lot.engine_size }} </span>
                <span style="margin: 0px 5px 0px 3px">/</span>
              </template>

              <span class="car-param" v-if="lot.power">Мощность:{{ lot.power }}</span>

            </div>

            <div class="car-param-first">
              <template v-if="lot.year" >
                <span class="car-param -year" >{{ lot.year }} г.</span>
                <span style="margin: 0px 5px 0px 3px">/</span>
              </template>

              <span v-if="lot.run" class="car-param -mileage" > {{ lot.run }} км </span>
            </div>

          </div>
        </div>
      </div>
      <!--- ./ Параметры авто (Марка,модель, год и т.д.) --->

      <div class="sm-block-bottom car-content-wrapper">

        <!----  Блок фотографий --->
        <div class="car-image-container">
            <span class="caption"><span  class="text big" > 360° </span></span>
            <PhotoGallery :key="lot.id" :photos="getLotPhotos"/>
        </div>

        <!---- Основные параметры (в одну линию) --->
        <div class="car-inline-content" >

          <div class="car-complectations" >
            <div class="car-title">Chevrolet Lacetti</div>
            <ul class="complectation-list">
              <li class="complectation-list-item">Кондиционер</li>
              <li class="complectation-list-item">Обогрев заднего стекла</li>
              <li class="complectation-list-item">Обогрев зеркал</li>
              <li class="complectation-list-item">Центральный замок</li>
              <li class="complectation-list-item">Электростеклоподъемники все</li>
              <li class="complectation-list-item">Электропривод зеркал</li>
            </ul>
            <div class="all-complectation">Вся комплектация</div>

            <div class="car-special-programs hidden-md">
              <span class="advant_name">Оригинал ПТС</span>
            </div>

            <div class="car-special-programs visible-md">
              <span class="advant_name">Оригинал ПТС</span>
            </div>
          </div>

          <div class="car-info">
            <div class="car-params-wrapper">
              <div class="car-params">
                <div class="car-param-first">
                  <span class="car-param -year">2012 г.</span>
                </div>
                <div class="car-param-others">
                  <span class="car-param">110&nbsp;289 км,</span>
                  <span class="car-param">1.4 Бензин,</span>
                  <span class="car-param">МКПП,</span>
                  <span class="car-param">Передний привод</span></div>
              </div>
              <div class="car-params-text"> 2012 г., 110&nbsp;289 км, 1.4 Бензин, МКПП </div>
            </div>
            <div class="car-price-wrapper">
              <div class="car-price ">
                 <span class="car-actual-price">
                   49055&nbsp;000 <i class="icon-rouble"></i>
                 </span>
              </div>
              <div class="car-prepay">
                <span class="car-prepay-btn js_open_callback_calltouch_form">
                  <span class="gradient" ></span>
                  <span class="button_label icon-phone"
                        title="купить Chevrolet Lacetti бу 2012 года"
                   > Заказать звонок</span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <!---- Основные параметры (по 4 card) --->
        <div class="sm-car-info">

          <!---- Цена, город, Vin  ---->
          <div class="sm-car-info-top" >
            <div style="position: absolute; margin:-23px 0px 0px 0px; font-size: 11px; text-align: center;
                        border-radius: 3px; font-style: italic; background: orange;
                        padding: 1px 2px 1px 2px; color:white;">{{ saleTypeTitle }} </div>
            <div style="display: flex; margin-top: 5px;">
                 <div style="font-size: 13px;"> Стартовая цена:<span style="font-weight: bold; border-bottom: 0px orange solid">{{ lot.start_price }}</span></div>
                 <div style="font-size: 13px; margin-left: auto; font-style: italic"> № лота:<span style="font-weight: bold; border-bottom: 0px orange solid">{{ lot.lot_id }}</span></div>
            </div>
            <div style="font-size: 13px;"> Город:<span style="font-weight: bold; border-bottom: 0px orange solid">{{ lot.city_name }}</span></div>
            <div style="font-size: 13px;"> Vin:<span style="font-weight: bold; border-bottom: 0px orange solid">{{ lot.vin }}</span></div>
            <div class="sm-car-special-programs hidden-xs visible-xss">
                <span class="advant_name">Один владелец</span>
                <span v-if="lot.nds == 0" class="advant_name">Возврат НДС</span>
                <span class="advant_name">Оригинал ПТС</span>
            </div>
          </div>
          <!---- ./ Цена, город, Vin --->

          <!---- Шаг ставки, Текущая ставка, Ваша ставка выигрывает---->
          <div class="car-complectations" style="border-bottom: 1px #ec7616 solid; margin-bottom: 10px">
              <ul class="complectation-list" style="display: block;">
                 <li class="complectation-list-item" style="" >
                   <div >Шаг ставки: {{ stepPrice }}</div>
<!--                   <div style="margin: 0px 0px 0px auto; font-size: 10px; color:white; font-weight: bold;-->
<!--                               background: seagreen; padding: 2px 3px 0px 3px; border-radius: 3px;">Ваша ставка выигрывает!</div>-->
                 </li>
                 <li v-if="lot.last_bid && lot.last_bid.price"
                     class="complectation-list-item" style="width: 100%;">Текущая ставка: {{ lot.last_bid.price }}</li>
                 <li v-else
                    class="complectation-list-item" style="width: 100%;">Стартовая цена: {{ lot.start_price }}</li>
              </ul>
<!--              <pre>{{lot}}</pre>-->
          </div>
          <!---- ./ Шаг ставки, Текущая ставка, Ваша ставка выигрывает---->

          <!---- Посмотреть ставки и Автотека ---->
          <div style="border-bottom: 0px #ec7616 solid; margin-bottom: 10px; padding: 0px 0px 2px 0px; display: flex">
              <a @click.prevent="getLotBidsShow(lot)" class="open_estimation_form super_button orange_stroke_btn block_button"
                  style="width: 45%; font-size: 11px; margin: 0px; padding: 0px;">
                  <span class="gradient" style=""></span>
                  <span class="button_label" style="margin: 0px; padding: 0px;">
                     <i class="fa fa-gavel" style="color: orange"></i>
                     Посмотреть ставки
                  </span>
              </a>

              <a @click.prevent="loadAutoteka(lot)" class="open_estimation_form super_button orange_stroke_btn block_button"
                 style="width: 45%; font-size: 11px; margin: 0px; padding: 0px; margin-left: auto;" >
                 <span class="gradient" style=""></span>
                 <span class="button_label" style="margin: 0px; padding: 0px;">Автотека</span>
              </a>
          </div>
          <!---- ./ Посмотреть ставки и Автотека ---->

          <template
              v-if="sale_active == 1 && (getProfile.profile_type == 1 || getProfile.profile_type == 2)" >

              <!----  Блок Сделать ставку   ---->
              <div class="sm-car-info-bottom" >
                <div class="sm-car-price-wrapper" style="width:45%;" ><div class="car-price" >
                    <input v-model="bidPrice" placeholder="Сумма ставка" type="text" class="bid-amount-input" />
                </div></div>

                <a @click.prevent="setBid(lot)"
                     class="submit_button super_button orange_btn block_button"
                     style="width: 45%; font-size: 11px; margin: 0px; padding: 0px; margin-left: auto;" >
                     <span class="gradient" style=""></span>
                     <span class="button_label" style="margin: 0px; padding: 0px;"> Сделать ставку </span>
                </a>

    <!--            <div class="car-price-wrapper" style="width:50%;"><div class="car-prepay">-->
    <!--                <span class="car-prepay-btn js_open_callback_calltouch_form">-->
    <!--                   <span class="gradient"></span>-->
    <!--                   <span @click.prevent="setBid(lot)" style="font-size: 14px; cursor: pointer" class="button_label icon-phone"> Сделать ставку </span>-->
    <!--                </span>-->
    <!--            </div></div>-->

              </div>
              <!---- ./ Блок Сделать ставку ---->

              <!----  Купить  сейчас   ---->
              <div class="wrapper" style="margin-top: 10px">
                <a @click.prevent="buyNow(lot)" class="super_button orange_stroke_btn block_button btn" >
                  <span class="gradient"></span>
                  <span class="button_label" style="font-size: 14px;"> Купить сейчас </span>
                </a>
              </div>
              <!---- ./ Купить сейчас  ---->

          </template>

        </div>

      </div>

</div></div>
</template>

<script>

import {useUsersStore} from '@/store/users';

import {mapGetters, mapActions, mapMutations} from "vuex";
import PhotoGallery from "@/components/site/ListingPhotoGallery";

export default {

  props: ['item', 'sale_active'],
  name: "ListingLotCard",

  data() {
    return {
      userStore: useUsersStore(),
      saleTypeTitle: '',
      bidPrice: 0,
      buyNowPrice: 0,
      stepPrice: 5000,
      priceTitle: 'Стартовая цена',

      modalTitle : 'Подтверждение ставки',
      confirmMessage: '',
      newBid: {},
      sendFuncName: 'setBid',
    }
  },

  components: {
    PhotoGallery,
  },

  created() {

      let typeId = this.item.auction_type;
      this.saleTypeTitle = this.getAuctionTypes[typeId];

      if (this.item.step_price)
        this.stepPrice = parseInt(this.item.step_price);

      this.priceTitle = 'Стартовая цена';
      this.bidPrice = parseInt(this.item.start_price) + this.stepPrice;

      if(this.lot.last_bid && this.lot.last_bid.price) {
        this.priceTitle = 'Текущая ставка';
        this.bidPrice = parseInt(this.lot.last_bid.price) + this.stepPrice;
      }

      this.buyNowPrice = this.item.max_price;
  },

  computed: {

      ...mapGetters([
        'getAuctionTypes',
      ]),

      lot() {
        return this.item;
      },

      getPriceTitle() {
        return this.priceTitle;
      },

      newBidPrice() {
        return this.bidPrice;
      },

      getConfirmMessage() {
        return this.confirmMessage;
      },

      getLotPhotos() {
        return this.lot.photos;
      },

      getProfileId() {
        return this.userStore.profile_id
      },

      getUserId() {
        return this.userStore.user_id
      },

      getProfile() {
        return this.userStore.profile
      },

  },

  methods: {

      ...mapActions([
        'setBidAction',
        'buyNowAction',
        'fetchLotBids',
      ]),

      ...mapMutations([
        'setLotBidsState',
        'setLotItem',
        'createNewBid',
      ]),

      newBidFormat(lot, price, fnName) {

        this.newBid = {
          lot_id    : lot.lot_id,
          round_id  : lot.round_id,
          bid_price : price,
          profile_id: this.getProfileId,
          step_price: this.stepPrice,
        }

        const newBid = {
          bid: this.newBid,
          fn:  fnName,
          status: true,
          lot,
        }

        this.createNewBid(newBid);

      },

      setBid(lot) {
        this.newBidFormat(lot, this.bidPrice, 'setBid');
      },

      buyNow(lot) {
        this.newBidFormat(lot, this.buyNowPrice, 'buyNow');
      },

      getLotBidsShow(lot) {
        let lotId = lot.lot_id;
        this.setLotItem(lot);
        this.fetchLotBids(lotId);
        this.setLotBidsState(true);
      },

      loadAutoteka(item) {
         alert('В разработке');
      },

  },

}
</script>

<style scoped>

   .bid-amount-input {
      width: 96%;  height: 35px;
      border: 1px gainsboro solid;
      outline: none; padding-left:10px;
      font-weight: bold;
   }

   .bid-amount-input:focus {
      border: 1px #b0bed9 solid;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
   }

   .complectation-list-item {
      width: 100% !important; display: flex;
      font-size: 12px;
   }

   .cars-list .car .car-content .favorites:before {
     content: '';
   }

   .favorite-icon:hover {
      color: orange !important;
   }

   .sm-block-top {
      height: 105px;
   }

</style>