<template>
  <img :src="currentPhotoUrl" alt=""
       class="car-image js-car-image car-image-default lazyloaded list-car-photo" >

  <!--- Список фото (скрытые) --->
  <div class="change-image-wrapper js-change-image-wrapper" >
         <div v-for="(item, i) in getPhotos"
              @mousemove="showCurrentPhoto(item)"
              class="change-image js-change-image" ></div>
  </div>
</template>

<script>
export default {
  name: "ListingPhotoGallery",
  props: ['photos'],
  data() {
    return {
      lenPhotos: 0,
      currentPhotoUrl: 'assets/img/empty-car-photo.jpg',
    }
  },

  created() {
    if(this.photos && this.photos.length) {
       this.lenPhotos = this.photos.length;
       let firstPhoto = this.photos[0];
       this.showCurrentPhoto(firstPhoto)
    }
  },

  computed: {
    getPhotos() { return this.photos;},
    carsDir() { return this.getUploadsDir + '/cars/';},
  },

  methods: {
    showCurrentPhoto(item) {
       this.currentPhotoUrl = this.carsDir + item.photo;
    },
  },
}
</script>

<style scoped>

.list-car-photo {
  width: 100%;
  height: 214px !important;
}

.change-image:before {
  margin-bottom: 12px;
}

.change-image.active:before {
  background-color: #ed7618 !important;
}

/*.change-image {*/
/*  flex: 0;*/
/*  margin-left: 5px;*/
/*}*/

/*.change-image:before {*/
/*  width: 15px;*/
/*  height: 15px;*/
/*  margin-bottom: 12px;*/
/*  content: '';*/
/*  border-radius: 60%;*/
/*  background-color: white;*/
/*}*/



</style>