<template>
<transition name="modal_transition">
  <universal-modal
      v-if="getLotBidsState"
      width="70%"
      :status="getLotBidsState"
      @close="close">

      <template v-slot:header><h3 style="color: black"> Ставки по лоту </h3></template>

      <template v-slot:body>

        <h4 style="font-size: 22px; margin: 12px"><a href="#" style="font-size: 22px; margin: 0px;"> {{ getLotItem.mark_name }} | {{ getLotItem.model_name }} </a></h4>
        <h4 style="font-size: 18px; margin: 12px; font-style: italic; color: orange ">№ лота: {{ getLotItem.lot_id }} | город: {{ getLotItem.city_name }}</h4>

        <div style="position:relative; border: 0px red solid; max-height: 400px; width:100%; padding:10px; overflow: auto; background: white"><div style="width: 100%; border: 0px green solid;">
<!--            <pre>{{getLotBids}}</pre>-->
            <table class="bids-list-table">
                <tr><th>Дата</th><th>Сумма</th></tr>
                <tr v-for="(item) in getLotBids" >
                   <td>{{ item.created_at }}</td>
                   <td>{{ item.price }}</td>
                </tr>
            </table>
        </div></div>

      </template>

      <template v-slot:footer>
        <div></div>
      </template>

  </universal-modal>
</transition>
</template>

<script>

import {mapGetters, mapMutations} from 'vuex';

export default {
  name: 'LotBidListModal',
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters([
      'getLotBids',
      'getLotBidsState',
      'getLotItem',
    ]),
  },

  methods: {
    ...mapMutations([
      'setLotBidsState'
    ]),

    close() {
      this.setLotBidsState(false);
    },
  },
};

</script>

<style>
  .modal-body {
     border: 0px red solid;
     padding: 0px !important;
     margin: 0px !important;
  }

  .modal-header {
    padding: 0px !important;
    margin: 0px !important;
  }

  .modal_transition-enter {
    opacity: 0;
  }

  .modal_transition-leave-active {
    opacity: 0;
  }

  .modal_transition-enter .modal-container,
  .modal_transition-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

</style>

<style scoped>

.bids-list-table {
  width: 100%;
}

.bids-list-table td {
   padding: 10px;
   border: 1px gainsboro solid;
}

</style>