<template>
<div v-if="getNewBid.status">
   <modal-wrapper
       :show="getNewBid.status"
        title="Подтверждение ставки"
        @close="close()" >

        <template v-slot:fields-container>
          <div class="field_block double_field_block form_phone_block">
            <div class="field_wrapper">
              <label class="title" for="field_new_input-1">Марка</label>
              <label class="field_content"><span class="super_input block_button field">
                     <input :value="getLot.mark_name"  id="field_new_input-1" type="text" disabled="disabled"/>
              </span></label>
            </div>
          </div>
          <div class="field_block double_field_block form_name_block">
            <div class="field_wrapper">
              <label class="title" for="field_new_input-2"> Модель </label>
              <label class="field_content"><span class="super_input block_button field ready">
                    <input :value="getLot.model_name" id="field_new_input-2" type="text" disabled="disabled"/>
              </span></label>
            </div>
          </div>
          <div class="styled_checkbox field_wrapper field_block">
<!--                        <pre>{{getNewBid}}</pre>-->
            <label class="custom_check" >
              <span class="check_name" style="border: 0px red solid; padding: 0px; margin: 0px">
                 <span style="font-size: 18px">№ лота: </span>
                 <a style="font-size: 18px; font-weight: bold; margin-left: 10px" class="open_reverse_communication_form"> {{getLot.lot_id}}</a>
              </span>
              <span class="check_name" style="border: 0px red solid; padding: 0px; margin: 0px">
                 <span style="font-size: 18px">Сумма ставки: </span>
                 <a style="font-size: 18px; font-weight: bold; margin-left: 10px" class="open_reverse_communication_form">
                   {{getBid.bid_price}}
                 </a>
              </span>
            </label>
          </div>
        </template>

        <template v-slot:buttons-container>
          <div style="display: flex;">

            <div style="width: 60%">
              <elem-button @click="confirmNewBid()" >Подтвердить ставку </elem-button>
            </div>

            <div style="margin-left: auto">
              <elem-button @click="close()" >Отменить ставку</elem-button>
            </div>
          </div>
          <div v-if="errorMessage" style="text-align: center; color:red; border: 2px red solid; margin-top: 10px">
                 <h3>{{errorMessage}}</h3>
                 <div>Возможно неправильно указана сумма ставки</div>
                 <div>Обновите страницу для изменений</div>
          </div>
        </template>

   </modal-wrapper>
</div>
</template>

<script>

import {mapGetters, mapActions, mapMutations} from "vuex";
import ElemButton from "@/components/base/ElemButton";

export default {
  name: "NewSetBid",
  data() {
    return {
       errorMessage: '',
    }
  },
  components: { ElemButton },
  computed: {
    ...mapGetters([
      'getAuctionTypes',
      'getNewBid',
    ]),

    getLot() { return this.getNewBid.lot; },
    getBid() { return this.getNewBid.bid; },
  },

  methods: {

    ...mapActions([
      'setBidAction',
      'buyNowAction',
      'fetchLotBids',
    ]),

    ...mapMutations([
      'setLotBidsState',
      'setLotItem',
      'createNewBid',
      'cancelNewBid'
    ]),

    close() {
      this.cancelNewBid();
    },

    confirmNewBid() {
      this.errorMessage = false;
      const lot      = this.getLot;
      const newBid   = this.getBid
      const fnName   = this.getNewBid.fn;
      const emitData = { bid: newBid, fn: fnName, lot }

      switch (fnName) {
        case 'setBid':
          this.setBidAction(newBid).then(response => {
             this.setBidResponse(response, emitData)
          });
          break;

        case 'buyNow':
          this.buyNowAction(newBid).then(response => {
            this.setBidResponse(response, emitData)
          })
          break;
      }
    },

    setBidResponse(response, emitData) {

        console.log(response);
        if (!response.result.save) {
          let message = 'Не удалось сделать ставку';
          this.errorMessage = message;
          alert(message);
          return false;
        }

        this.$emit('event_new_bid', emitData);
        this.cancelNewBid();
        return true;
    }

  },  // methods

}
</script>

<style scoped>

</style>