<template>

<div v-if="(getLotsCount > getSearchForm.limit) && getPageCount" class="page-pagi"
     style="margin: 0px; margin: 0px; border:0px red solid">

  <nav><ul class="pagination">

      <!--- First page button -------->
      <li @click="goPage(1, $event)" class="page-item active">
        <a class="page-link">First</a>
      </li>
      <!--- ./ First page button ----->

      <li v-for="pageNum in getPageCount"
          @click="goPage(pageNum, $event)" class="page-item" >
          <a class="page-link" style="cursor: pointer">{{ pageNum }}</a>
      </li>

      <!--- End page button ---------->
      <li @click="goPage(getPageCount, $event)" class="page-item">
        <a class="page-link">End</a>
      </li>
      <!--- ./ End page button -------->

  </ul></nav>

  <div style="display: none">
    {{ getPageCount }} {{getActiveAuctionCount}} {{getLotsCount}}
  </div>

</div>

</template>

<script>

import {mapGetters, mapActions, mapMutations} from 'vuex';

export default {
  name: "PagePaginate",
  data: () => ({
    pageCount: 0,
  }),

  computed: {
    ...mapGetters([
        'getSearchForm',
        'getLotsCount',
        'getActiveAuctionCount',
        'getLotsCount'
    ]),

    getPageCount() {
      return this.paginator();
    },

  },

  methods: {

    ...mapMutations(['setSearchForm']),
    ...mapActions(['fetchActiveAuction']),

    goPage(pageNum, event) {

      let form = this.getSearchForm;
      form.page = pageNum;
      this.setSearchForm(form);
      this.fetchActiveAuction();

      let panelClass = '.page-item';
      let panelClassActive = 'active';
      let itemParent = event.target.parentNode
      this.updateElemClassActive(panelClass, panelClassActive, itemParent)
    },

    paginator() {
      if (this.getLotsCount && this.getSearchForm && this.getSearchForm.limit) {
        let count = parseInt(this.getLotsCount);
        let limit = parseInt(this.getSearchForm.limit);
        if (count > limit) {
          this.pageCount = Math.ceil(count / limit);
        }
      }
      return this.pageCount;
    },

  },

}
</script>

<style scoped>

.pagination li a{
  background: gainsboro;
  cursor: pointer;
  color: black;
  border-radius: 4px;
  margin-right: 4px;
}

.pagination li a:hover{
  background: orange;
}

.pagination > .active > a {
  background: grey;
  color:white;
  border: 1px white solid;
}

</style>
