<template>

  <!--- Рекламный блок 1 ---->
  <div class="cars_list filter_result clearfix" style="display: block;">
    <div class="static-banner-wrapper">
      <div class="static-banner -sm-list">
        <div class="row static-row">
          <div class="col-sm-4 block-logo">
            <div class="wrapper-img"></div>
            <div class="wrapper-text">
              <div class="text">До <span class="orange">-50%</span> от цен официальных дилеров</div>
            </div>
          </div>
          <div class="col-sm-4 block-description">
            <div class="title"> Запчасти и аксессуары</div>
            <div class="text">Доступные цены на оригинальные запчасти, акссесуары и их аналоги.</div>
          </div>
          <div class="col-sm-4 block-button">
            <div class="wrapper">
              <div class="text">До <b>-50%</b> от цен официальных дилеров</div>
              <a class="super_button orange_stroke_btn block_button btn" href="#">
                <span class="gradient"></span>
                <span class="button_label">Смотреть на сайте</span>
              </a>
            </div>
          </div>
        </div>
        <a class="full-link" href="#" target="_blank"></a>
      </div>
    </div>
  </div>
  <!---- ./ Рекламный блок 1---->

  <!---- Рекламный блок 2 ----->
  <div class="block_select_car clearfix">
    <div class="select_car_img">
      <img class="img-responsive" src="major_files/cars.jpg" alt="100 и более новых поступлений в день!">
    </div>
    <div class="select_car_text">
      <div class="select_car_title">Более 100 новых поступлений в день!</div>
      <div class="select_car_description">
        Закажите подбор автомобиля по вашим параметрам и наши
        менеджеры будут следить за новыми поступлениями и свяжутся
        с вами когда появится нужный автомобиль.
      </div>
      <div class="select_car_button_wrapper">
        <a class="super_button orange_btn js_open_request_calltouch_form " href="#" >
          <span class="gradient"></span>
          <span class="button_label no_icon"> Заказать подбор автомобиля </span>
        </a>
      </div>
    </div>
  </div>
  <!--- ./ Рекламный блок 2 ---->

</template>

<script>
export default {
  name: "PromoBlock"
}
</script>

<style scoped>

</style>