<template>

<!--  <pre>{{getSearchForm}}</pre>-->

  <div class="search_params_container clearfix">
    <div class="sort_orders_block pull-left vertical_align_middle">
      <span class="sort_block_title" style="margin-right: 15px;"> Сортировать по: </span>

      <a @click.prevent="sort('start_price')" href="#" class="param sort_type"
         :class="{'selected': sortName == 'start_price'}" >
         <i v-if="sortName == 'start_price'" :class="'fa ' + iconArrow" ></i>
         <span class="" >Цена</span></a>

      <a @click.prevent="sort('year')" href="#" class="param sort_type"
         :class="{'selected': sortName == 'year'}" >
         <i v-if="sortName == 'year'" :class="'fa ' + iconArrow" ></i>
         <span class="">Год</span></a>

    </div>

    <div class="wrappers_block pull-right vertical_align_middle hidden-xs hidden-sm">
       <span> Вид отображения: </span>
       <a href="#" class="param wrapper_type  list_wrapper_button"  >
         <i class="centered_icon icon-th-list"></i>
       </a>
       <a href="#" class="param wrapper_type block_wrapper_button selected"  >
          <i class="centered_icon icon-th"></i>
       </a>
    </div>

  </div>
</template>

<script>
import {mapGetters, mapActions, mapMutations} from 'vuex';
export default {
  name: "SortingPanel",
  data() {
    return {
      sortName: 'start_price',
      sortValue: 'desc',
      iconArrow: 'fa-long-arrow-down',
    }
  },
  computed: {
    ...mapGetters([
        'getSearchForm',
        'getLotsCount',
        'getActiveRounds',
    ]),
  },

  methods: {

    ...mapMutations(['setSearchForm']),
    ...mapActions(['fetchActiveAuction']),

     sort(name) {

        this.sortName = name;
        let oldValue = this.getSearchForm['order_by'][name];

        let iconUp   = 'fa-long-arrow-up';
        let iconDown = 'fa-long-arrow-down';

        // let iconUp   = 'fa-chevron-up';
        // let iconDown = 'fa-chevron-down';

        this.iconArrow = iconUp;
        this.sortValue = 'asc';

        if(oldValue && oldValue == 'asc') {
           this.iconArrow = iconDown;
           this.sortValue = 'desc';
        } else {
           this.getSearchForm['order_by'] = {};
        }

        this.getSearchForm['order_by'][name] = this.sortValue;
        // this.setSearchForm(this.getSearchForm);
        this.fetchActiveAuction();
     },
  },

}
</script>

<style scoped>

</style>