<template>
<a class="submit_button super_button orange_btn block_button">
    <span class="gradient"></span>
    <span class="button_label no_icon">
<!--      {{title}}-->
      <slot></slot>
    </span>
</a>
</template>

<script>
export default {
  name: "ElemButton",
  props:['title']
}
</script>

<style scoped>

</style>