<template>
  <nav class="navbar navbar-default header">
    <div class="body_scroll_fix">
      <div class="container" style="border:0px blue solid;">

        <!--- Логотип сайта   --->
        <div class="navbar-header">
          <a class="navbar-brand header-logo" href="#" style="padding-top:3px">
            <img src="assets/img/pluton-logo.png" style="height: 57px; border: 0px red solid;">
          </a>
        </div>
        <!--- ./ Логотип сайта --->

        <div class="collapse navbar-collapse header-navigation-links">

          <!--- Меню --->
          <ul class="nav navbar-nav">
            <template v-for="(menu) in menuList">
              <li>
                <router-link :to="menu.url">
                  <span class="nav-link">{{ menu.title }}</span>
                </router-link>
              </li>
            </template>
          </ul>
          <!--- ./ Меню --->

          <div class="header-buttons pull-right"
               style="border: 0px white solid; padding:0px; padding-right: 0px;" >

              <div style="display: flex; ">
                    <!--- Переход в админку --->
                    <a class="header_button">
                           <span class="text_with_icon-1">
                               <router-link tag="span" to="/admin-panel" class="header-phone-icon user-menu__panel">
                                 <i class="fa fa-long-arrow-right" style="color:greenyellow"></i> Админ-часть
                               </router-link>
                           </span></a>
                    <!--- Регистрация --->
                    <a class="header_button">
                           <span class="text_with_icon-1">
                               <router-link tag="span" to="/user/auth/register" class="header-phone-icon user-menu__panel">
                                 <i class="fa fa-user-plus" style="margin-right: 2px; color:greenyellow"></i> Регистрация
                               </router-link>
                           </span></a>
                    <!--- Авторизация --->
                    <a class="header_button">
                            <span class="text_with_icon-1">
                                 <span class="favorites_count"></span>
                                 <router-link v-if="getCurUser && getCurUser.username" @click="logout"
                                              tag="span" to="/user/auth/logout" class="user-login-link user-menu__panel">
                                    <i class="fa fa-sign-in" style="margin-right: 2px; color:greenyellow; "></i> Выйти
                                 </router-link>
                                 <router-link v-else tag="span" to="/user/auth/login"
                                              class="user-login-link user-menu__panel">
                                    <i class="fa fa-unlock-alt" style="margin-right: 2px; color:greenyellow"></i> Вход
                                 </router-link>
                            </span></a>
              </div>

<!--              <pre style="color:white">{{profiles}}</pre>-->

              <div v-if="user_id" class="profile-menu-box" style="">

                <div v-if="profile && profile.id" @click="profileMenuShow = !profileMenuShow"
                     style="color:white; padding: 2px 2px 0px 15px; cursor:pointer; border:0px gainsboro solid">
                     <i class="fa fa-user-circle-o" style="margin-right: 2px; color:greenyellow"></i>{{ profile.name }}
                </div>

                <div v-if="profileMenuShow" class="additional_page_menu"
                     style="position: absolute; z-index: 99; margin:5px 0px 0px 20px">
                  <div class="menu_container">
                    <div class="menu_container">
                      <ul class="nav nav-pills nav-stacked">
                        <li v-for="(item, i) in profiles"
                            :class="{'active': item.active}">
                            <a @click.prevent="activeProfileChange(item, i)" href="#">{{ item.name }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>

          </div>
          <!--- ./  --->

        </div><!--- .collapse --->

      </div>
    </div>
  </nav>
</template>

<script>

import {useUsersStore} from '@/store/users';
import {mapState, mapActions} from 'pinia';

export default {
  name: 'SiteHeader',
  data() {
    return {
      menuList: [
        {title: 'Главная', url: '/'},
        {title: 'Аукцион', url: '/auction'},
        {title: 'Личный кабинет', url: '/personal-cabinet'},
      ],
      currentUser: {},
      currentProfile: {},
      profileMenuShow: false,
    }
  },

  created() {
    this.loadLocalStoreInfo()
    if (this.user_id) {
      let userId = this.user_id;
      this.getUserProfiles(userId);
    }
  },

  computed: {
    ...mapState(useUsersStore, [
         'user', 'token', 'profiles',
         'profile', 'user_id', 'profile_id',
    ]),
    getCurUser() {
      this.currentUser = this.user;
      return this.currentUser
    },
  },

  methods: {
    ...mapActions(useUsersStore, [
        'logout',
        'getUserProfiles',
        'loadLocalStoreInfo',
        'setActiveProfile',
    ]),

    activeProfileChange(item, i) {
      this.profileMenuShow = false;
      this.setActiveProfile(item.id);
    },

  },

}
</script>

<style scoped>

.header-phone-icon,
.user-login-link {
  color: white;
  text-decoration: none;
}

.header-phone-icon:hover,
.user-login-link:hover {
  color: yellow;
  cursor: pointer;
}

.navbar-nav .nav-link {
  font-size: 13px !important;
}

.user-menu__panel {
  font-size: 13px;
  border: 0px white solid;
  padding: 4px 15px 4px 15px;
}

.header_button {
  margin: 0px;
  padding: 0px;
  border: 0px red solid;
  height: 35px;
  margin-top: 7px;
}

.header-buttons {
  margin: 0px;
  padding: 0px;
}

.profile-menu-box {
  border:0px red solid;
  margin-top: -10px;
}

</style>