<template>
  <footer class="footer clearfix" >
    <div class="body_scroll_fix" >
      <div class="container" >
        <div class="row main_footer_menu hidden-xs hidden-sm">
          <div class="col-md-3">
            <a href="https://www.major-expert.ru/buy/" class="footer_col_header"><span>Купить автомобиль</span></a>
            <div class="footer_col_content">
              <a class="link" href="https://www.major-expert.ru/cars/"><span>Автомобили в продаже</span></a>
              <a class="link"
                 href="https://www.major-expert.ru/buy/car_selection/"><span>Подбор автомобиля</span></a>
              <a class="link" href="https://www.major-expert.ru/cars/special-programm/"><span>Автомобили с преимуществами</span></a>
              <a class="link"
                 href="https://www.major-expert.ru/cars/special/"><span>Специальные программы</span></a>
              <a class="link" href="https://www.major-expert.ru/cars/new/"><span>Новые поступления</span></a>
              <a class="link" href="https://www.major-expert.ru/services/car-delivery/"><span>Автомобиль с доставкой на дом</span></a>
              <a class="link" href="https://www.major-expert.ru/buy/car-inspection/"><span>Проверка состояния по 86 пунктам</span></a>
            </div>
          </div>
          <div class="col-md-3">
            <a href="https://www.major-expert.ru/sale/"
               class="footer_col_header"><span>Продать автомобиль</span></a>
            <div class="footer_col_content">
              <a class="link"
                 href="https://www.major-expert.ru/sale/ocenka-avto/"><span>Оценка автомобиля</span></a>
              <a class="link" href="https://www.major-expert.ru/sale/obmen/"><span>Обмен автомобиля</span></a>
              <a class="link"
                 href="https://www.major-expert.ru/sale/comission/"><span>Комиссионная продажа</span></a>
              <a class="link" href="https://www.major-expert.ru/sale/trade_in/"><span>Выкуп автомобилей</span></a>
              <a class="link"
                 href="https://www.major-expert.ru/sale/moto_estimations/"><span>Оценка мотоцикла</span></a>
              <a class="link" href="https://www.major-expert.ru/sale/comtrade_trade_in/"><span>Трейд Ин / ComTrade</span></a>
              <a class="link"
                 href="https://www.major-expert.ru/sale/corporate/"><span>Корпоративным клиентам</span></a>
            </div>
          </div>
          <div class="col-md-3">
            <a href="https://www.major-expert.ru/services/" class="footer_col_header"><span>Услуги</span></a>
            <div class="footer_col_content">
              <a class="link" href="https://www.major-expert.ru/services/subscribe/"><span>Подписка на новые поступления</span></a>
              <a class="link" href="https://www.major-expert.ru/services/insurance/"><span>Страхование автомобиля</span></a>
              <a class="link" href="https://www.major-expert.ru/services/auctions/"><span>Аукционы</span></a>
              <a class="link" href="https://www.major-expert.ru/services/car-delivery/"><span>Автомобиль с доставкой на дом</span></a>
              <a class="link"
                 href="https://www.major-expert.ru/services/major_warranty/"><span>Major Plus</span></a>
              <a class="link"
                 href="https://www.major-expert.ru/services/major-leasing/"><span>Major Лизинг</span></a>
              <a class="link" href="https://www.major-expert.ru/services/rent/"><span>Аренда автомобиля</span></a>
              <a class="link" href="https://www.major-expert.ru/services/help-on-road/"><span>Техническая помощь</span></a>
              <a class="link" href="https://www.major-expert.ru/services/major-warranty-expert/"><span>Major Plus Expert</span></a>
            </div>
          </div>
          <div class="col-md-3">
            <a href="https://www.major-expert.ru/company/" class="footer_col_header"><span>О компании</span></a>
            <div class="footer_col_content">
              <a class="link"
                 href="https://www.major-expert.ru/company/about/"><span>О Major Expert</span></a>
              <a class="link" href="https://www.major-expert.ru/contacts/moscow/"><span>Контакты</span></a>
              <a class="link" href="https://www.major-expert.ru/faq/"><span>Вопрос-Ответ</span></a>
              <a class="link" href="https://www.major-expert.ru/news/"><span>Новости</span></a>
              <a class="link"
                 href="https://www.major-expert.ru/company/moto/"><span>Мотоциклы в продаже</span></a>
              <a class="link"
                 href="https://www.major-expert.ru/company/new-car/"><span>Новые автомобили</span></a>
            </div>
          </div>
        </div>
        <div class="row additional-row">
          <div class="col-xs-12 col-sm-6 col-xs-land-6 hidden-md hidden-lg">
            <div class="col-md-3">
              <a href="https://www.major-expert.ru/buy/"
                 class="footer_col_header"><span>Купить автомобиль</span></a>
            </div>
            <div class="col-md-3">
              <a href="https://www.major-expert.ru/sale/"
                 class="footer_col_header"><span>Продать автомобиль</span></a>
            </div>
            <div class="col-md-3">
              <a href="https://www.major-expert.ru/services/"
                 class="footer_col_header"><span>Услуги</span></a>
            </div>
            <div class="col-md-3">
              <a href="https://www.major-expert.ru/company/" class="footer_col_header"><span>О компании</span></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-land-6 fixed_footer_col footer_cities_counters">
            <div class="footer_col_header">Автомобилей в продаже</div>
            <div class="footer_col_content">
              <a href="https://www.major-expert.ru/cars/moscow/" class="link link_with_counter">
        <span class="counter">
                    <span>0</span>
                    <span>3</span>
                    <span>8</span>
                    <span>4</span>
                    <span>1</span>
                </span>
                <span class="hidden"><span class="link_content">Автомобилей в продаже</span><br></span>
                <span class="link_content">Москва</span>
              </a> <a href="https://www.major-expert.ru/cars/spb/" class="link link_with_counter">
        <span class="counter">
                    <span>0</span>
                    <span>0</span>
                    <span>4</span>
                    <span>6</span>
                    <span>7</span>
                </span>
              <span class="hidden"><span class="link_content">Автомобилей в продаже</span><br></span>
              <span class="link_content">Санкт-Петербург</span>
            </a></div>
          </div>
          <div class="services_separator"></div>
          <div class="col-sm-3 col-md-3 col-sm-6 col-md-push-6 fixed_footer_col col-xs-land-6 auto_width_col-xs">
            <div class="hidden-xs footer_col_header">Личный кабинет</div>
            <div class="footer_col_content">
              <a href="https://www.major-expert.ru/mymajor/" class="link link_with_icon icon-mymajor_2">
                <span class="hidden"><span class="link_content">Личный кабинет</span><br></span>
                <span class="hidden-xs link_content">Мой Major</span>
              </a>
            </div>
          </div>
          <div class="col-sm-4 col-md-3 col-sm-6 col-md-pull-3 fixed_footer_col col-xs-land-6 fixed_footer_col_xs_landscape auto_width_col-xs">
            <div class="hidden-xs footer_col_header">Major Expert в соц. сетях</div>
            <div class="footer_col_content">
              <div class="double_item-sm pull-left-xs">
                <a href="https://vk.com/majorexpert" target="_blank"
                   class="link link_with_icon icon-vkontakte">
                  <span class="hidden"><span class="link_content">Major EXPERT</span><br></span>
                  <span class="hidden-xs link_content">ВКонтакте</span>
                </a>
              </div>
              <div class="double_item-sm pull-left-xs">
                <a href="https://t.me/major_expert_official" target="_blank"
                   class="link link_with_icon icon-telegram">
                  <span class="hidden"><span class="link_content">Major EXPERT</span><br></span>
                  <span class="hidden-xs link_content">Telegram</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-md-3 col-sm-6 col-md-pull-3 fixed_footer_col col-xs-land-6 fixed_footer_col_xs_landscape auto_width_col-xs">
            <div class="hidden-xs footer_col_header">Мобильные приложения</div>
            <div class="footer_col_content">
              <div class="double_item-sm pull-left-xs">
                <a href="https://www.major-expert.ru/mobile/iphone/" class="link link_with_icon icon-apple">
                  <span class="hidden"><span class="link_content">Приложение</span><br></span>
                  <span class="hidden-xs link_content">на App Store</span>
                </a>
              </div>
              <div class="double_item-sm pull-left-xs">
                <a href="https://www.major-expert.ru/mobile/android/"
                   class="link link_with_icon icon-android">
                  <span class="hidden"><span class="link_content">Приложение</span><br></span>
                  <span class="hidden-xs link_content">на Google Play</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="cookies-warning row">
          <div class="col-xs-12 col-lg-9">
            Для повышения удобства работы с сайтом компания Major <a href="https://www.major-expert.ru/cookies/"
                                                                     class="link">использует файлы cookie</a>. В
            cookie содержатся данные о прошлых посещениях сайта.
            <br class="line-break">Если Вы не хотите, чтобы эти данные обрабатывались, отключите cookie в
            настройках браузера.
          </div>
        </div>
        <div class="copyrights row">
          <div class="col-xs-12 col-sm-6 col-md-9">
            © 2012–2022 Компания Major оставляет за&nbsp;собой право вносить изменения в&nbsp;информацию,
            размещенную на&nbsp;сайте&nbsp;Major-Expert.
            Информация, размещенная на&nbsp;сайте не&nbsp;является публичной&nbsp;офертой. Подробную информацию
            о&nbsp;ценах и условиях просьба узнавать по&nbsp;телефону.
            <br>
            <a href="https://www.major-expert.ru/policy/" class="policy-link">Политика конфиденциальности</a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="visible-xs margin_t20"></div>
            <a class="super_button gray_btn btn-block open_feedback_form"
               href="https://www.major-expert.ru/cars/#">
              <span class="gradient"></span>
              <span class="button_label icon-comment">Оставить отзыв о работе сайта</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "SiteFooter"
}
</script>

<style scoped>

</style>