<template>

<div class="search_panel_container search_ready cars-block-sm" style="border:2px green solid">
     <div class="search_panel" ><div class="body_scroll_fix" ><div class="container" style="border:0px blue solid">

          <!----- Форма поиска ----->
          <div class="row main_params_block collapsed_xs_sm ">

<!--              <div class="col-md-3">-->
<!--                <div class="ik_select_dropdown"-->
<!--                     style="position: absolute; z-index: 9998; width: 84px; display: block; left: 797.663px; top: 112px;">-->
<!--                     <div class="ik_select_list" style="position: relative;"><div class="ik_select_list_inner" style="height: auto;">-->
<!--                        <ul>-->
<!--                          <li class="ik_select_option ik_select_active ik_select_hover" data-value=""><span class="ik_select_option_label">Привод</span></li>-->
<!--                          <li class="ik_select_option" data-value="3"><span class="ik_select_option_label">Задний</span></li>-->
<!--                          <li class="ik_select_option" data-value="1"><span class="ik_select_option_label">Передний</span></li>-->
<!--                          <li class="ik_select_option" data-value="2"><span class="ik_select_option_label">Полный</span></li>-->
<!--                        </ul>-->
<!--                 </div></div></div>-->
<!--              </div>-->


<!--              <div class="col-md-3 col-lg-3">-->
<!--                <div class="double-item">-->

<!--                  <pre>{{getFormData}}</pre>-->
<!--                  <select v-model="getFormData.mark_id" class="">-->
<!--                    <option v-for="(item) in marks" :value="item.mark_id">{{ item.mark_name }}</option>-->
<!--                  </select>-->

<!--                  <div class="double-left-item">-->
<!--                    <div class="super_button selector_btn block_button search_panel_button open_brands_window_button selector_btn_has_value"-->
<!--                         style="padding:0px; background: white; border-radius: 3px">-->
<!--                         <span class="gradient"></span>-->
<!--                         <span class="button_label no_icon" style="border:0px red solid; width: 100%; height: 100%; margin: 0px;">-->
<!--                           <div style="position: absolute; text-align: center; width: 100%">Модель</div>-->
<!--                           <div style="text-align: center; width: 100%; margin-top: 13px">{{getFormData.mark_id}}</div>-->
<!--                           <select @change="selectMark()" v-model="getFormData.mark_id"-->
<!--                                   class="" style="width: 100%; cursor: pointer">-->
<!--                                   <option v-for="(item) in marks"-->
<!--                                           :value="item.mark_id">{{ item.mark_name }}</option>-->
<!--                           </select>-->
<!--                           <i class="fa fa-chevron-down"-->
<!--                              style="position:absolute; right: 2px; top:12px; color: grey; border:0px red solid; "></i>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                </div>-->
<!--                <div class="double-item">-->
<!--                  <div class="double-right-item"><a-->
<!--                      class="super_button selector_btn block_button search_panel_button open_models_window_button"-->
<!--                      href="https://www.major-expert.ru/cars/#" onclick="return false;"><span-->
<!--                      class="gradient"></span><span class="button_label no_icon">Модель</span><span-->
<!--                      class="arrow"></span></a></div>-->
<!--                </div>-->
<!--              </div>-->

              <div class="col-md-2  col-lg-2">
                <div class="double-item">
                  <div class="double-left-item">
                    <div class="ik_select" style="position: relative;"><a
                        href="https://www.major-expert.ru/cars/#" onclick="return false;"
                        class="super_button selector_btn block_button search_panel_button ik_select_link ik_select_link_novalue"><span
                        class="gradient"></span><span
                        class="button_label no_icon ik_select_link_text">Цена до</span><span
                        class="arrow"></span></a>
                      <div class="ik_select_dropdown"
                           style="position: absolute; z-index: 9998; width: 122px; display: none;">
                        <div class="ik_select_list" style="position: relative;">
                          <div class="ik_select_list_inner"
                               style="height: 200px; overflow: auto; position: relative;">
                            <ul>
                              <li class="ik_select_option" data-value=""><span
                                  class="ik_select_option_label">Цена до</span></li>
                              <li class="ik_select_option" data-value="50000"><span
                                  class="ik_select_option_label">50&nbsp;000 </span></li>
                              <li class="ik_select_option" data-value="200000"><span
                                  class="ik_select_option_label">200&nbsp;000 </span></li>
                              <li class="ik_select_option" data-value="400000"><span
                                  class="ik_select_option_label">400&nbsp;000 </span></li>
                              <li class="ik_select_option" data-value="450000"><span
                                  class="ik_select_option_label">450&nbsp;000 </span></li>
                              <li class="ik_select_option" data-value="500000"><span
                                  class="ik_select_option_label">500&nbsp;000 </span></li>
                              <li class="ik_select_option" data-value="13700000"><span
                                  class="ik_select_option_label">13&nbsp;700&nbsp;000 </span>
                              </li>
                              <li class="ik_select_option" data-value="13800000"><span
                                  class="ik_select_option_label">13&nbsp;800&nbsp;000 </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <select class="search_panel_button search_panel_selector full_width need_process_ik_select sync_selector"
                              name="price[to]"
                              style="position: absolute; margin: 0px; padding: 0px; top: 0px; left: -9999px;">
                        <option value="">Цена до</option>
                        <option value="50000">50&nbsp;000</option>
                        <option value="200000">200&nbsp;000</option>
                        <option value="400000">400&nbsp;000</option>
                        <option value="450000">450&nbsp;000</option>
                        <option value="500000">500&nbsp;000</option>
                        <option value="550000">550&nbsp;000</option>
                        <option value="13600000">13&nbsp;600&nbsp;000</option>
                        <option value="13700000">13&nbsp;700&nbsp;000</option>
                        <option value="13800000">13&nbsp;800&nbsp;000</option>
                      </select></div>
                  </div>
                </div>
                <div class="double-item">
                  <div class="double-right-item">
                    <div class="ik_select" style="position: relative;"><a
                        href="https://www.major-expert.ru/cars/#" onclick="return false;"
                        class="super_button selector_btn block_button search_panel_button ik_select_link ik_select_link_novalue"><span
                        class="gradient"></span><span
                        class="button_label no_icon ik_select_link_text">Год от</span><span
                        class="arrow"></span></a>
                      <div class="ik_select_dropdown"
                           style="position: absolute; z-index: 9998; width: 94px; display: none;">
                        <div class="ik_select_list" style="position: relative;">
                          <div class="ik_select_list_inner"
                               style="height: 200px; overflow: auto; position: relative;">
                            <ul>
                              <li class="ik_select_option" data-value=""><span
                                  class="ik_select_option_label">Год от</span></li>
                              <li class="ik_select_option" data-value="2022"><span
                                  class="ik_select_option_label">2022</span></li>
                              <li class="ik_select_option" data-value="2021"><span
                                  class="ik_select_option_label">2021</span></li>
                              <li class="ik_select_option" data-value="2004"><span
                                  class="ik_select_option_label">2004</span></li>
                              <li class="ik_select_option" data-value="2002"><span
                                  class="ik_select_option_label">2002</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <select class="search_panel_button search_panel_selector full_width need_process_ik_select sync_selector"
                              name="year[from]"
                              style="position: absolute; margin: 0px; padding: 0px; top: 0px; left: -9999px;">
                        <option value="">Год от</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                        <option value="2006">2006</option>
                        <option value="2004">2004</option>
                        <option value="2002">2002</option>
                      </select></div>
                  </div>
                </div>
              </div>

              <div class="col-md-2 col-lg-2">
                <div class="double-item">
                  <div class="double-left-item">
                    <div class="ik_select" style="position: relative;" >

                      <a class="super_button selector_btn block_button search_panel_button ik_select_link ik_select_link_novalue">
                        <span class="gradient"></span>
                        <span class="button_label no_icon ik_select_link_text">Привод</span>
<!--                        <span class="arrow"></span>-->
                      </a>

                      <div class="ik_select_dropdown"
                           style="position: absolute; z-index: 9998; width: 84px; display: none;">
                           <div class="ik_select_list" style="position: relative;">
                          <div class="ik_select_list_inner" style="height: auto;">
                            <ul>
                              <li class="ik_select_option" data-value=""><span
                                  class="ik_select_option_label">Привод</span></li>
                              <li class="ik_select_option" data-value="3"><span
                                  class="ik_select_option_label">Задний</span></li>
                              <li class="ik_select_option" data-value="1"><span
                                  class="ik_select_option_label">Передний</span></li>
                              <li class="ik_select_option" data-value="2"><span
                                  class="ik_select_option_label">Полный</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>

<!--                      <pre>{{getFormData}}</pre>-->
<!--                      <select v-model="getFormData.mark_id"-->
<!--                              class="search_panel_button search_panel_selector full_width need_process_ik_select sync_selector" >-->
<!--                              <option v-for="(item) in marks" :value="item.mark_id">{{ item.mark_name }}</option>-->
<!--                      </select>-->

                      <select class="search_panel_button search_panel_selector full_width need_process_ik_select sync_selector"
                              style="position: absolute; margin: 0px; padding: 0px; top: 0px; left: 0px;">
                              <option value="">Привод</option>
                              <option value="3">Задний</option>
                              <option value="1">Передний</option>
                              <option value="2">Полный</option>
                      </select>

                    </div>

                  </div>
                </div>

                <div class="double-item">
                  <div class="double-right-item">
                    <div class="ik_select" style="position: relative;">
                      <a class="super_button selector_btn block_button search_panel_button ik_select_link ik_select_link_novalue"><span
                         class="gradient"></span><span
                         class="button_label no_icon ik_select_link_text">КПП</span>
                         <!--- <span class="arrow"></span>-->
                      </a>
                      <div class="ik_select_dropdown"
                           style="position: absolute; z-index: 9998; width: 60px; display: none;">
                           <div class="ik_select_list" style="position: relative;">
                              <div class="ik_select_list_inner" style="height: auto;">
                                <ul>
                                  <li class="ik_select_option" data-value=""><span class="ik_select_option_label">КПП</span></li>
                                  <li class="ik_select_option" data-value="1"><span class="ik_select_option_label">АКПП</span></li>
                                  <li class="ik_select_option" data-value="2"><span class="ik_select_option_label">МКПП</span></li>
                                </ul>
                              </div>
                           </div>
                      </div>
                      <select class="search_panel_button search_panel_selector full_width need_process_ik_select sync_selector"
                              style="position: absolute; margin: 0px; padding: 0px; top: 0px; left: -9999px;">
                              <option value="">КПП</option>
                              <option value="1">АКПП</option>
                              <option value="2">МКПП</option>
                      </select></div>
                  </div>
                </div>
              </div>

              <div class="col-md-2  col-lg-2"><a
                  class="start_search_button search_panel_button super_button black_btn"
                  href="https://www.major-expert.ru/cars/#" onclick="return false;"
                  title="Начать поиск"><span class="gradient"></span><span
                  class="button_label icon-search">Показать 334 авто</span></a></div>

              <div class="col-md-2 col-lg-3 text-right"><a
                  class="super_button black_btn open_close_panel filter_button" onclick="return false;"
                  href="https://www.major-expert.ru/cars/#"><span class="gradient"></span><span
                  class="button_label no_icon">Расширенный&nbsp;поиск</span><span class="pct"><span
                  class="count" style="display: inline;">1</span></span></a></div>

          </div>
          <!----- ./ Форма поиска  ----->

          <!----- Кнопка показа результатов   ----->
          <div class="row resulted_params_container">
            <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 resulted_params_block">
              <div class="selected_items_container"><a class="selected_item"
                                                       href="https://www.major-expert.ru/cars/#"
                                                       onclick="return false;"><span>Chevrolet</span> <i
                  class="icon-cancel"></i></a><a class="selected_item"
                                                 href="https://www.major-expert.ru/cars/#"
                                                 onclick="return false;"><span>BMW</span> <i
                  class="icon-cancel"></i></a><a class="selected_item"
                                                 href="https://www.major-expert.ru/cars/#"
                                                 onclick="return false;"><span>Chery</span> <i
                  class="icon-cancel"></i></a><a class="selected_item"
                                                 href="https://www.major-expert.ru/cars/#"
                                                 onclick="return false;"><span>от NaN <i
                  class="icon-rouble"></i></span> <i class="icon-cancel"></i></a><a
                  class="selected_item" href="https://www.major-expert.ru/cars/#"
                  onclick="return false;"><span>до NaN <i class="icon-rouble"></i></span> <i
                  class="icon-cancel"></i></a><a class="selected_item"
                                                 href="https://www.major-expert.ru/cars/#"
                                                 onclick="return false;"><span>от undefined г.</span>
                <i class="icon-cancel"></i></a><a class="selected_item"
                                                  href="https://www.major-expert.ru/cars/#"
                                                  onclick="return false;"><span>до undefined г.</span>
                <i class="icon-cancel"></i></a><a class="selected_item"
                                                  href="https://www.major-expert.ru/cars/#"
                                                  onclick="return false;"><span>от NaN км</span> <i
                  class="icon-cancel"></i></a><a class="selected_item"
                                                 href="https://www.major-expert.ru/cars/#"
                                                 onclick="return false;"><span>до NaN км</span> <i
                  class="icon-cancel"></i></a><a class="selected_item"
                                                 href="https://www.major-expert.ru/cars/#"
                                                 onclick="return false;"><span>от NaN мест</span> <i
                  class="icon-cancel"></i></a><a class="selected_item"
                                                 href="https://www.major-expert.ru/cars/#"
                                                 onclick="return false;"><span>до NaN мест</span> <i
                  class="icon-cancel"></i></a></div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 text-center">
              <a class="change_search_button open_panel_button search_panel_button super_button black_btn block_button"
                 href="https://www.major-expert.ru/cars/#" onclick="return false;"><span
                  class="gradient"></span><span class="button_label icon-search">Изменить поиск</span></a>
            </div>
          </div>
          <!----- ./ Кнопка показа результатов ----->

          <!----- Кнопка расширенного поиска    ----->
          <div class="row one_button_search main_params_block collapsed_lg_md toggle_search_panel_status_container ">
            <div class="col-xs-12 text-center">
              <div class="enhanced-search-button -xs-enhanced-search-button open_close_panel"><span
                  class="name">Расширенный поиск</span>
                <div class="pct"><span class="count" style="display: inline;">1</span></div>
              </div>
            </div>
          </div>
          <!----- ./ Кнопка расширенного поиска ----->

</div></div></div></div>

</template>

<script>

import {mapGetters, mapActions, mapMutations} from 'vuex';

export default {

  name: "AuctionFilterForm",

  data: () => ({
      marks: [],
      models: [],
      cities: [],
      selectMarkModels: [],
      form: {},
  }),

  created() {
      this.form = this.createSearchForm();
      this.getMarksAndModels();
  },

  computed: {
      ...mapGetters([
          'getSearchForm',
          'getLotsCount',
          'getActiveRounds'
      ]),

      getFormData() {return this.form; },
  },

  methods: {

      ...mapMutations(['setSearchForm']),
      ...mapActions(['fetchActiveAuction']),

      getMarksAndModels() {
         let type = 1;
         const url = '/auction/search-form/marks/' + type;
         this.httpClient.send(url).then(response => {
            const result = response.result;
            this.marks   = result.marks;
            this.models  = result.models;
            this.cities  = result.cities;
         })
      },

      sendLots() {
         this.updateSearchForm();
         this.fetchActiveAuction();
      },

      updateSearchForm() {
         const searchForm = this.form;
         this.setSearchForm(searchForm);
      },

      clearFilters() {
           this.form = this.createSearchForm();
           this.sendLots();
      },

      selectMark() {
          const markId = parseInt(this.form.mark_id);
          const selectModels = [];
          for (let i in this.models) {
            let model = this.models[i];
            if (parseInt(model.model_mark_id) == markId) {
              selectModels.push(this.models[i]);
            }
          }
          this.selectMarkModels = selectModels;
          this.updateSearchForm();
      },

  },

}
</script>

<style scoped>

</style>