<template>

  <UniversalModal
      v-if="isModalShow"
      @close="isModalShow = false" style="" >

    <template v-slot:header>
       {{modalTitle}}
    </template>
    <template v-slot:body>
       <div v-html="getConfirmMessage"></div>
    </template>
    <template v-slot:footer>
      <a @click="confirmBid(true)" class="readmore-btn a-button-style"
         style="width: 60%; height: 100%; padding:12px; text-align: center; margin-top:0px; ">Подтвердить ставку</a>
      <a @click="confirmBid(false)" class="readmore-btn a-button-style"
         style="width: 40%; height: 100%; padding:12px; text-align: center; margin-top:0px; ">Отменить</a>
    </template>

  </UniversalModal>

  <!-- Single Popular Car Start -->
  <div class="col-lg-4 col-md-6 con suv mpv">

    <div class="single-popular-car">
      <!--  ФОТОГРАФИИ  -->
      <div class="p-car-thumbnails">
<!--        <PhotoCarousel :photos="getLotPhotos" :key="lot.id"/>-->
      </div>

      <div class="p-car-content">

        <!--  ИНФО  -->
        <h3>
          <a href="#">{{ lot.mark_name }} {{ lot.model_name }}</a>
          <span class="price"><i class="fa fa-tag"></i>
                {{ lot.start_price }}
            <!--                <i class="fa fa-star"></i>-->
            <!--                <i class="fa fa-star unmark"></i>-->
            </span>
        </h3>

        <div style="color:green; font-style: italic; font-size: 12px; margin-top: 4px">
          <span style="border-bottom:1px green solid;">{{ saleTypeTitle }} </span>
        </div>

        <h5 v-if="lot.body_type">{{ lot.body_type }} </h5>
        <h5 v-else >Тип кузова не определен</h5>

        <h5>№ лота: {{ lot.lot_id }}</h5>
        <h5>Vin: {{ lot.vin }}</h5>
        <h5>Пробег: {{ lot.run }}</h5>
        <h5>Город: {{ lot.city_name }}</h5>

        <h5>Поколение: {{ lot.generation_name }}</h5>
        <h5>Модификация: {{ lot.modification_name }}</h5>

        <div class="p-car-feature">
          <a href="#">{{ lot.year }}</a>
          <a href="#">{{ lot.transmission }}</a>
          <a href="#">{{ lot.fuel_type }}</a>
          <a href="#">НДС: {{ lot.nds }}</a>
        </div>

        <div class="p-car-feature">
          <a href="#">Мощность:{{ lot.power }}</a>
          <a href="#">Объем:{{ lot.engine_size }}</a>
          <a href="#">{{ lot.drive_type }}</a>
        </div>

        <!--  КНОПКИ ДЛЯ СТАВОК  -->
        <div class="row" style="margin-top: 10px ; ">

          <div class="col-12">
            <div style="border-top:2px #ffd000 solid; margin:0px 0px 5px 0px"></div>
          </div>

          <div class="col-12">
            <div style="display: flex">
              <div style="">Посмотреть ставки:</div>
              <svg @click="getLotBidsShow(lot)" xmlns="http://www.w3.org/2000/svg"
                   fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"
                   style="margin-left: auto; width: 20px; cursor: pointer">
                   <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
          </div>

          <div class="col-12">
            <div style="display: flex">
              <div style="">Шаг ставка:</div>
              <div style="margin-left: auto">{{ stepPrice }}</div>
            </div>
          </div>

          <div class="col-12">
            <div style="display: flex">
              <div style="">{{priceTitle}}:</div>
              <div style="margin-left: auto">{{ getBidPrice }}</div>
            </div>
          </div>

          <div class="col-12">
            <div style="border-top:2px #ffd000 solid; margin:0px 0px 5px 0px"></div>
          </div>

          <!-- Сделать ставку -->
          <div class="col-lg-7 col-md-12" style="border:0px green solid; padding-top:5px; padding-bottom:0px;">
            <a @click="setBid(lot)" class="readmore-btn a-button-style"
               style="width: 100%; height: 100%; padding:12px; text-align: center; margin-top:0px; ">
              Сделать ставку </a>
          </div>

          <div class="col-lg-5 col-md-12" style="border:0px green solid; padding-top:5px; padding-bottom:0px; ">
            <div class="m-0 retern-date bookinput-item " style="width: 100%; padding:0px; padding-top:0px">
              <input v-model="bidPrice" placeholder="ставка" type="text" class="form-control"
                     style="border-radius: 0px; height: 43px;"/>
            </div>
          </div>

          <!-- Купить сейчас -->
          <div class="col-lg-12" style="margin-top: 10px">
            <a @click="buyNow(lot)" class="readmore-btn a-button-style"
               style="width: 100%;text-align: center; margin-top: 0px">
              <i class="fa fa-long-arrow-left"></i> Купить сейчас</a>
          </div>

        </div>

      </div>

    </div>
  </div>

<!--  <pre>{{lot}}</pre>-->

</template>

<script>

import {mapGetters, mapActions, mapMutations} from "vuex";

export default {

  props: ['item'],
  name: "AuctionListItem",

  data() {
    return {

      saleTypeTitle: '',
      bidPrice: 0,
      buyNowPrice: 0,
      stepPrice: 5000,
      priceTitle: 'Стартовая цена',

      modalTitle : 'Подтверждение ставки',
      confirmMessage: '',
      newBid: {},
      sendFuncName: 'setBid',

    }
  },

  created() {

    let typeId = this.item.auction_type;
    this.saleTypeTitle = this.getAuctionTypes[typeId];

    if (this.item.step_price) {
      this.stepPrice = this.item.step_price;
    }

    this.bidPrice = parseInt(this.item.start_price) + parseInt(this.stepPrice);
    this.buyNowPrice = this.item.max_price;

  },

  computed: {

    ...mapGetters([
      'getAuctionTypes',
    ]),

    lot() {
      return this.item;
    },

    getPriceTitle() {
      return this.priceTitle;
    },

    getBidPrice() {
       if(this.lot.last_bid && this.lot.last_bid.price) {
          this.priceTitle = 'Текущая ставка';
          this.bidPrice = parseInt(this.lot.last_bid.price) + parseInt(this.stepPrice);
       }
       return this.bidPrice;
    },

    getConfirmMessage() {
       return this.confirmMessage;
    },

    getLotPhotos() {
       return this.lot.photos;
    }

  },

  methods: {

    ...mapActions([
      'setBidAction',
      'buyNowAction',
      'fetchLotBids',
    ]),

    ...mapMutations([
       'setLotBidsState',
       'setLotItem',
    ]),

    setBid(lot) {

      this.sendFuncName = 'setBid';

      this.newBid = {
          lot_id    : lot.lot_id,
          round_id  : lot.round_id,
          bid_price : this.bidPrice,
          profile_id: this.curProfileId,
          step_price: this.stepPrice,
      }

      // this.modalTitle = 'Подтвердить ставку?';
      this.isModalShow = true;
      this.confirmMessage = 'Лот (id): ' + lot.lot_id + '<br>';
      this.confirmMessage += 'Сумма ставки: ' + this.bidPrice;

    },

    buyNow(lot) {

      this.sendFuncName = 'buyNow';

      this.newBid = {
        lot_id: lot.lot_id,
        round_id  : lot.round_id,
        bid_price: this.buyNowPrice,
        profile_id: this.curProfileId,
      }

      this.isModalShow = true;
      this.confirmMessage = 'Лот (id): ' + lot.lot_id + '<br>';
      this.confirmMessage += 'Сумма ставки: ' + this.bidPrice;

    },

    confirmBid(state) {

        this.isModalShow = false;
        if(!state) return false;

        const newBid   = this.newBid;
        const funcName = this.sendFuncName;
        const emitName = 'event_new_bid';

        switch (funcName) {
             case 'setBid':
               this.setBidAction(newBid).then(response => {
                   this.$emit(emitName, { newBid , funcName});
                   this.newBid = {};
                   this.confirmMessage = '';
                   if(!response.status) return false;
               });
               break;

             case 'buyNow':
               this.buyNowAction(newBid).then(response => {
                   this.$emit(emitName, { newBid , funcName});
                   this.newBid = {};
                   this.confirmMessage = '';
                   console.log(response);
               })
               break;
        }
    },

    getLotBidsShow(lot) {
       let lotId = lot.lot_id;
       this.setLotItem(lot);
       this.fetchLotBids(lotId);
       this.setLotBidsState(true);
    },

  },

}
</script>

<style scoped>

</style>