<template>
  <div class="booka-car-content">
    <pre>{{form}}</pre>
    <div class="row">

      <!--- Марка--->
      <div class="col-lg-6" style="border:0px green solid;">
        <div class="m-1 pick-location bookinput-item" style="width: 100%">
          <label>Марка авто</label>
          <select @change="selectMark()" v-model="form.mark_id" class="custom-select search-form" style="cursor: pointer">
            <option v-for="(item) in marks"
                    :value="item.mark_id"
            >{{ item.mark_name }}
            </option>
          </select>
        </div>
      </div>

      <!--- Модель --->
      <div class="col-lg-6" style="border:0px green solid;">
        <div class="m-1 pick-location bookinput-item" style="width: 100%">
          <label>Модель авто</label>
          <select v-model="form.model_id" class="custom-select search-form" style="cursor: pointer">
            <option v-for="(item) in selectMarkModels"
                    :value="item.model_id"
            >{{ item.model_name }}
            </option>
          </select>
        </div>
      </div>

      <!--- Город --->
      <div class="col-lg-6" style="border:0px green solid;">
        <div class="m-1 pick-location bookinput-item" style="width: 100%">
          <label>Город</label>
          <select v-model="form.city_id" class="custom-select search-form" style="cursor: pointer">
            <option v-for="(item) in cities"
                    :value="item.city_id"
            >{{ item.city_name }}
            </option>
          </select>
        </div>
      </div>

      <!--- НДС --->
      <div class="col-lg-6" style="border:0px green solid;">
        <div class="m-1 pick-location bookinput-item" style="width: 100%">
          <label>НДС</label>
          <select v-model="form.nds" class="custom-select search-form" style="cursor: pointer">
              <option value="-1">Выбрать все</option>
              <option value="1">Включен</option>
              <option value="0">Не облагается</option>
          </select>
        </div>
      </div>

      <!--- Vin --->
      <div class="col-lg-6" style="border:0px green solid;">
        <div class="m-1 retern-date bookinput-item" style="width: 100%">
          <input v-model="form.vin" placeholder="Vin авто" type="text" class="form-control search-form"
                 style="height: 38px; border-right: 1px #ffd000 solid"/>
        </div>
      </div>

      <!--- № лота --->
      <div class="col-lg-6" style="border:0px green solid;">
        <div class="m-1 retern-date bookinput-item" style="width: 100%">
          <input v-model="form.lot_id" placeholder="№ лота" type="text" class="form-control search-form"
                 style="height: 38px; border-right: 1px #ffd000 solid"/>
        </div>
      </div>

      <!--- Цена --->
      <div class="col-lg-6" style="border:0px green solid;">
        <div class="m-1 retern-date bookinput-item" style="width: 100%">
          <input v-model="form.price_from"  placeholder="Цена от" type="text" class="form-control search-form"
                 style="height: 38px; border-right: 1px #ffd000 solid"/>
        </div>
      </div>

      <div class="col-lg-6" style="border:0px green solid;">
        <div class="m-1 retern-date bookinput-item" style="width: 100%">
          <input v-model="form.price_to" placeholder="Цена до" type="text" class="form-control search-form"
                 style="height: 38px; border-right: 1px #ffd000 solid"/>
        </div>
      </div>
      <!--- ./ Цена --->

      <!---- Кнопки ---->
      <div class="col-lg-6">
        <div class="m-1 bookcar-btn bookinput-item" style="width: 100%">
          <button @click="sendLots()" style=""> Показать</button>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="m-1 bookcar-btn bookinput-item" style="width: 100%">
          <button @click="clearFilters()" style=""> Сбросить фильтры</button>
        </div>
      </div>


      <div class="col-lg-12">
        <div class="single-sidebar1" style="margin-left: 5px; margin-top: 10px">
           <h6 style="background: #b0c5de; padding:10px; border-radius: 6px; color:white; width: 40%;text-align: left">
               Результаты поиска: {{getLotsCount}}</h6>
<!--           <div class="sidebar-body"><p><i class="fa fa-mobile"></i> +8801816 277 243</p></div>-->
        </div>
      </div>

    </div><!--- ./ row ---->
  </div><!--- .booka-car-content .row --->
</template>


<script>

import {mapGetters, mapActions, mapMutations} from 'vuex';

export default {
  name: "AuctionSearchForm",
  data: () => ({
    marks: [],
    models: [],
    cities: [],
    selectMarkModels: [],
  }),

  created() {
    this.form = this.createSearchForm();
    this.getMarksAndModels();
  },

  computed: {
    ...mapGetters([
      'getSearchForm',
      'getLotsCount',
      'getActiveRounds',
    ]),

    // getForm() {
    //   return this.form;
    // },
  },

  methods: {
    ...mapMutations([
      'setSearchForm',
    ]),
    ...mapActions([
      'fetchActiveAuction',
    ]),

    getMarksAndModels() {
      let type = 1;
      const url = '/auction/search-form/marks/' + type;
      this.httpClient.send(url).then(response => {
        const result = response.result;
        this.marks   = result.marks;
        this.models  = result.models;
        this.cities  = result.cities;
      })
    },

    sendLots() {
      this.updateSearchForm();
      this.fetchActiveAuction();
    },

    updateSearchForm() {
       const searchForm = this.form;
       this.setSearchForm(searchForm);
    },

    clearFilters() {
       this.form = this.createSearchForm();
       this.sendLots();
    },

    selectMark() {

      const markId = parseInt(this.form.mark_id);
      const selectModels = [];
      for (let i in this.models) {
        let model = this.models[i];
        if (parseInt(model.model_mark_id) == markId) {
          selectModels.push(this.models[i]);
        }
      }

      this.selectMarkModels = selectModels;
      this.updateSearchForm();
    },

  },

  mounted() {
  },

}
</script>

<style scoped>
.booka-car-content {
  margin-top: 127px;
  padding: 5px 20px 5px 20px !important;
  border: 0px green solid;
}

.search-form {
   border-radius: 0px;
}
</style>