<template>
  <transition name="modal" >
    <div v-if="getLotBidsState" class="modal-mask">
      <div class="modal-wrapper" style="padding-top: 30px;">

        <!--- Контейнер модального окна --->
        <div class="modal-container" :style="'width:' + setWrapWidth + ';'" >

          <svg @click="close"
               xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="w-6 h-6"
               style="border:1px red dashed; position: absolute; cursor:pointer; width: 25px; height: 25px; margin-top: -30px !important; margin-left: -40px !important;">
               <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>

          <div class="modal-header">
            <slot name="header"></slot>
          </div>

          <div class="modal-body">

            <div class="col-lg-12">
              <div class="display-table">
                <div class="display-table-cell">
                  <div class="car-list-info">

<!--                    <pre>{{getLotItem}}</pre>-->

                    <h4><a href="#"> {{getLotItem.mark_name}} / {{getLotItem.model_name}} </a></h4>
                    <h6>Лот ID: {{getLotItem.lot_id}} / город: {{getLotItem.city_name}}</h6>

<!--                    <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean inorci luctus et ultrices posuere cubilia.</p>-->

                    <template v-for="(item) in getLotBids" >
                      <ul class="car-info-list">
                        <li>{{item.created_at}}</li>
                        <li>{{item.price}}</li>
                      </ul>
                    </template>

<!--                    {{getLotItem}}-->

                  </div>
                </div>
              </div>
            </div>

<!--            <pre>{{getLotBids}}</pre>-->
          </div>

        </div>
        <!--- ./ Контейнер модального окна --->

      </div><!--- .modal-wrapper -->
    </div><!---- modal-mask ---->
  </transition>

</template>

<script>

import {mapGetters, mapMutations} from 'vuex';

export default {
  name: 'LotBidListModal',
  props: ['width'],
  data() {
    let wrapWidth = (!this.width) ? '55%': this.width;
    return {
      wrapWidth,
    }
  },
  computed: {
    ...mapGetters([
        'getLotBids',
        'getLotBidsState',
        'getLotItem',
    ]),
    setWrapWidth() {
      return this.wrapWidth;
    }
  },
  methods: {

    ...mapMutations([
        'setLotBidsState'
    ]),

    close() {
      this.setLotBidsState(false);
    },
  },
};

</script>

<style scoped>

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  /*vertical-align: middle;*/
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>