<template>
<div v-if="getAlertStatus" class="alert-info-wrapper">
     <div :class="'alert ' + getAlertStatus " >
       <span @click="close" class="closebtn">×</span>
       <span v-html="getAlertMessage"></span>
     </div>
</div>
</template>

<script>

import {mapGetters, mapMutations} from 'vuex';

export default {
  name: "AlertInfoMessage",
  computed: {
    ...mapGetters([
      'getAlertMessage',
      'getAlertType',
      'getAlertStatus',
      'getAlertTitle'
    ]),
  },

  methods: {

    ...mapMutations(['setAlertStatus']),

    close() {
       this.setAlertStatus(false);
    },

  },

}
</script>

<style scoped>

.alert-info-wrapper {
  z-index: 9999 !important; position: fixed; border-radius: 0px; margin: 10px 20px 20px 20px;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  text-align: center;
}

.alert {
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  border-radius: 0px;
  min-width: 250px !important;
}

.alert.error {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warn {background-color: #ff9800;}

.closebtn {
  /*margin-left: 15px;*/
  color: white;
  font-weight: bold;
  /*float: right;*/
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;

  width: 22px;
  border:0px red solid;
  position: absolute;
  right: 0px;
  top:0px;
  text-align: center;
}

.closebtn:hover {
  color: orange;
  /*border:1px white solid;*/
}
</style>