<template>

  <slot name="page-header">
      <SiteHeader />
  </slot>

  <slot name="page-content"></slot>

  <slot name="page-footer">
<!--      <SiteFooter />-->
  </slot>

</template>

<script>

import SiteHeader from '@/components/base/SiteHeader';
import SiteFooter from '@/components/base/SiteFooter';

export default {
  name: 'BaseLayout',
  props : ['params'],
  components: {
    SiteHeader,
    SiteFooter
  }
}
</script>

<style scoped>

</style>
