<template>
  <div class="mopup major_expert_mopup views_panel">
    <div class="views_block">
      <div class="views_block_content ">
        <div class="views_block_logo">
          <i class="icon-guys"></i>
        </div>
        <div class="views_block_text">
          <p>
            За последний час этот автомобиль просматривало<span class="views_amount"> 14 </span>человек.
            <a href="http://pay.major-expert.ru/prepay/1404094/" class="buy_car close_mopup white_dotted_link " data-car-uid="1404094">
              <span class="buy_text">Купить</span>
            </a>
          </p>
          <p class="view_block_subtext">Внесите предоплату 16 000 р, и автомобиль будет снят с продажи</p>
        </div>
      </div>
      <div class="close_mopup x_close_button"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalInfoPanel"
}
</script>

<style scoped>

</style>