<template>
  <div v-if="getModalShow">
    <div class="fw_win_overlay_wrapper form_overlay" style="z-index: 5009; height: 100%;"></div>

    <div class="fw_win_wrapper" style="position:absolute; z-index: 5010; top: 0px; left: 0px; height: 100%; width: 100%; ">
      <div class="fwin_body_scroll_fix" style="position:fixed !important; width: 100%; height: 100%; top: 0px; left: 0px; border: 0px greenyellow solid">
        <div class="fw_win_content_container form_window" style="height: auto; margin: 0px; z-index: 5011;">

          <div class="fw_win_title"
               style="border: 0px green solid; margin: 0px; padding: 17px; width: 100%; border-bottom: 0px gainsboro solid">
              <div style="text-align: center; width: 100% !important; font-size: 28px; font-weight: normal">{{ getTitle }}</div>
              <div @click="close()" class="fw_win_close_button-1">
                <i class="fa fa-times" style="font-size: 18px; color: grey"></i>
              </div>
          </div>

          <div class="fw_win_content fw_win_form_content fw_win_common_offset" style="border: 0px orange solid;">

            <!---- Форма ---->
            <div><div class="form_wrapper" >

                <!---- Поля формы ---->
                <div class="fields_group with_checkbox" style="border: 0px blue solid; margin-top: 10px">
                  <div class="fields_group_content clearfix">
                    <slot name="fields-container"></slot>

                    <!----- Fields -----------
                    <div class="field_block double_field_block form_phone_block">
                      <div class="field_wrapper">
                        <label class="title" without_asterisk="1" for="field_new_input-1" >Телефон</label>
                        <label class="field_content">
                            <span class="super_input block_button field">
                              <input tabindex="7" id="field_new_input-1" type="text" />
                            </span>
                            <span class="notice">Введите ваш телефон</span>
                        </label>
                      </div>
                    </div>
                    <div class="field_block double_field_block form_name_block">
                      <div class="field_wrapper">
                        <label class="title" without_asterisk="1" for="field_new_input-2"> Ваше имя<span class="formjor-asterisk">*</span></label>
                        <label class="field_content">
                          <span class="super_input block_button field ready">
                             <input id="field_new_input-2" type="text" />
                          </span>
                          <span class="notice">Укажите ваше имя</span>
                        </label>
                      </div>
                    </div>
                    <div class="styled_checkbox field_wrapper field_block">
                      <label class="custom_check">
                        <input class="hidden" tabindex="9" id="field_new_input-3" type="checkbox" >
                        <span class="check_box icon-ok-1"></span>
                        <span class="check_name">
                           Согласен на обработку
                           <a href="#" class="open_reverse_communication_form">личных данных и обратную коммуникацию</a>
                        </span>
                      </label>
                      <span class="notice">Подтвердите обработку персональных данных</span>
                    </div>
                    ---------------------------->

                  </div>
                </div>
                <!---- ./ Поля формы ---->

                <!---- Кнопки формы ---->
                <div class="fields_group" style="border: 0px blueviolet solid;">
                    <slot name="buttons-container"></slot>
                    <!----- Buttons -----------
                    <div style="display: flex">
                      <div>
                          <a class="submit_button super_button orange_btn block_button" href="#" >
                            <span class="gradient"></span>
                            <span class="button_label no_icon">Заказать звонок</span>
                          </a>
                          <div class="hidden"><input type="submit" value="Отправить"></div>
                      </div>

                      <div>
                          <a class="submit_button super_button orange_btn block_button" href="#" >
                            <span class="gradient"></span>
                            <span class="button_label no_icon">Заказать звонок</span>
                          </a>
                          <div class="hidden"><input type="submit" value="Отправить"></div>
                      </div>
                    </div>
                    --------------------------->

<!--                    <p class="help_text">Все поля обязательные для заполнения</p>-->
<!--                    <p class="help_text security_policy">-->
<!--                        Ваших данных. Более подробную информацию смотрите по ссылке-->
<!--                        <a href="#" class="open_security_policy_form"> «Политика безопасности» </a>-->
<!--                    </p>-->

                </div>
                <!---- ./ Кнопки формы ---->

            </div></div>
            <!---- ./ Форма ---->

          </div>

        </div>
        <div class="fw_win_height_fixer"></div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "ModalWrapper",
  props: ['title', 'show'],
  data() {
    return {
      modalShow: true,
    }
  },

  computed: {

    getTitle() {
      return this.title
    },

    getModalShow() {
      this.modalShow = this.show;
      return this.modalShow;
    },

  },

  methods: {
    close() {
      this.modalShow = false;
      this.$emit('close');
    },
  }
}
</script>

<style scoped>
.fw_win_close_button-1 {
  position: absolute;
  height: 40px;
  width: 40px;
  cursor: pointer;
  top: -17px;
  right: -15px;
  background: none;
  opacity: 1;
}

.fw_win_close_button-1:hover i {
  color: orange !important;
}
</style>