<template>

  <div class="fw_win_overlay_wrapper form_overlay" style="z-index: 5009; height: 5608px;"></div>

  <div class="fw_win_wrapper" style="z-index: 5010; top: 800px; left: 0px; height: 1019px;">
    <div class="fwin_body_scroll_fix" style="width: 2735px;">
      <div class="fw_win_content_container form_window" style="height: auto; margin: 0px; z-index: 5011;">
        <div class="fw_win_title"

        >Заказать звонок
          <div class="fw_win_close_button"></div>
        </div>
        <div class="fw_win_content fw_win_form_content fw_win_common_offset">
          <form method="post" action="/" id="formjor_21_d370c5894de1da17eeeb56618fb17ea8"
                data-action="/ajax/forms/execForm/21/" data-success-action="/ajax/forms/getSuccessForm/21/"
          >
            <div class="system">
              <input tabindex="1" id="field_308_d370c5894de1da17eeeb56618fb17ea8"
                     data-formjor-field-id="field_308_d370c5894de1da17eeeb56618fb17ea8" name="url" data-url="1"
                     type="hidden"
                     value="https://www.major-expert.ru/cars/moscow/bmw/2-seriya-active-tourer/1404094/?ls=f019c644884b73f36a2769b7ad80cdf2"
              >
              <input tabindex="2" id="field_309_d370c5894de1da17eeeb56618fb17ea8"
                     data-formjor-field-id="field_309_d370c5894de1da17eeeb56618fb17ea8" name="referral_url"
                     data-referer="1" type="hidden" value="https://www.major-expert.ru/cars/"
              >
              <input tabindex="3" id="field_313_d370c5894de1da17eeeb56618fb17ea8"
                     data-formjor-field-id="field_313_d370c5894de1da17eeeb56618fb17ea8" name="pcaptcha"
                     data-pcaptcha="1" type="hidden" value="8|573968178c9d462d91894d45fe65e9c5"
              >
              <input tabindex="4" id="field_314_d370c5894de1da17eeeb56618fb17ea8"
                     data-formjor-field-id="field_314_d370c5894de1da17eeeb56618fb17ea8" name="is_ct_success"
                     type="hidden"
              >
              <input tabindex="5" id="field_315_d370c5894de1da17eeeb56618fb17ea8"
                     data-formjor-field-id="field_315_d370c5894de1da17eeeb56618fb17ea8" name="form_name" type="hidden"
              >
              <input tabindex="6" id="field_316_d370c5894de1da17eeeb56618fb17ea8"
                     data-formjor-field-id="field_316_d370c5894de1da17eeeb56618fb17ea8" name="lead_oid" type="hidden"
              >
            </div>
            <div class="form_wrapper">
              <!--p><b>Внимание:</b> Работаем On-Line.<br> Работа автосалонов временно приостановлена в связи с указом Президента РФ №206 от 25.03.2020.</p-->
              <div class="hidden">
                <div data-calltauch-key="zakaz_zvonka"></div>
                <div data-lead-oid="284103496695851"></div>
                <div data-form-name="заказать звонок"></div>
                <input type="hidden" name="territory_code" value="expert_strogino">
                <input type="hidden" name="territory_oid" value="281668250238985">
              </div>

              <div class="fields_group with_checkbox">
                <div class="fields_group_content clearfix">
                  <div class="field_block double_field_block form_phone_block">
                    <div class="field_wrapper">
                      <label class="title" without_asterisk="1" for="field_311_d370c5894de1da17eeeb56618fb17ea8"
                      >Телефон</label>
                      <label class="field_content">
				<span class="super_input block_button field">
		<input tabindex="7" id="field_311_d370c5894de1da17eeeb56618fb17ea8"
           data-formjor-field-id="field_311_d370c5894de1da17eeeb56618fb17ea8" name="phone"
           placeholder="+7 (XXX) XXX-XX-XX" type="tel" inputmode="text"
    >
	</span>
                        <span class="notice">Введите ваш телефон</span>
                      </label>
                    </div>
                  </div>
                  <div class="field_block double_field_block form_name_block">
                    <div class="field_wrapper">
                      <label class="title" without_asterisk="1" for="field_310_d370c5894de1da17eeeb56618fb17ea8">Ваше
                        имя<span class="formjor-asterisk">*</span></label>
                      <label class="field_content">
				<span class="super_input block_button field ready">
		<input tabindex="8" id="field_310_d370c5894de1da17eeeb56618fb17ea8"
           data-formjor-field-id="field_310_d370c5894de1da17eeeb56618fb17ea8" name="name" autocomplete="name"
           placeholder="Пример: Иванов Иван" type="text"
    >
	</span>
                        <span class="notice">Укажите ваше имя</span>
                      </label>
                    </div>
                  </div>
                  <div class="styled_checkbox field_wrapper field_block">
                    <label class="custom_check">
                      <input class="hidden" tabindex="9" id="field_312_d370c5894de1da17eeeb56618fb17ea8"
                             data-formjor-field-id="field_312_d370c5894de1da17eeeb56618fb17ea8" name="agreement"
                             type="checkbox"
                      >
                      <span class="check_box icon-ok-1"></span>
                      <span class="check_name">Согласен на обработку <a href="#"
                                                                        class="open_reverse_communication_form"
                      >личных данных и обратную коммуникацию</a></span>
                    </label>
                    <span class="notice">Подтвердите обработку персональных данных</span>
                  </div>
                </div>
              </div>

              <div class="fields_group">
                <a class="submit_button super_button orange_btn block_button" href="#" onclick="return false;">
                  <span class="gradient"></span>
                  <span class="button_label no_icon">Заказать звонок</span>
                </a>
                <div class="hidden">
                  <input type="submit" value="Отправить">
                </div>
                <p class="help_text">Все поля обязательные для заполнения</p>
                <p class="help_text security_policy">Ваши личные данные будут использоваться для оперативной связи с
                  Вами. Major обеспечивает защиту
                  Ваших данных. Более подробную информацию смотрите по ссылке <a href="#"
                                                                                 class="open_security_policy_form"
                  >«Политика безопасности»</a></p></div>
            </div>
          </form>
        </div>
      </div>
      <div class="fw_win_height_fixer"></div>
    </div>
  </div>

</template>

<script>
export default {
  name: "ModalActionPanel"
}
</script>

<style scoped>

</style>