<template>
<div>

    <div v-if="code == 200"
         style="text-align: center; padding: 10px; border: 2px green solid">
         <!------ 200 ----->
         <div class="success-wrap" v-html="response.message"></div>

    </div>
    <div v-else-if="code == 201"
         style="text-align: center; padding: 10px; border: 2px red solid">
         <!------ 201 ----->
         <div class="error-wrap" v-html="response.message" ></div>

    </div>
    <div v-else-if="code == 403"
         style="text-align: center; padding: 10px; border: 2px red solid">
         <!------ 403 ----->
         <div class="error-wrap">У Вас недостаточно прав</div>
         <div class="error-wrap" style="font-size: 11px;">Возможна Вам нужно авторизироваться</div>

    </div>
    <div v-else-if="code == 422"
         style="text-align: left; padding: 10px; border: 2px red solid">
         <!------ 422 ----->
         <div v-for="(value, name) in response.errors"
              class="error-wrap" > {{value[0]}} </div>

    </div>
    <div v-else
         style="text-align: center; padding: 10px; border: 2px red solid" >
         <!------ ????? ----->
         <div  class="error-wrap">Непопределенная ошибка</div>
         <pre>{{response}}</pre>

    </div>

</div>
</template>

<script>

export default {
  name: 'ResponseMessageHandle',
  props: ['response', 'code'],
  data() {
     return {
     }
  },

  computed: {
  },

  methods: {
  },
};

</script>

<style scoped>

   .success-wrap {
     color:green; font-weight: bold
   }

   .error-wrap {
      color:red; font-weight: bold
   }

</style>