<template>
  <transition v-if="modalShow" name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper" >

        <!--- Контейнер модального окна --->
        <div class="modal-container" :style="'width:' + setWrapWidth + ';'" >

          <svg @click="close()"
               xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="white" class="w-4 h-"
               style="background:orange; border:0px white dashed; position: absolute; cursor:pointer; width: 20px; height: 20px; margin-top: -30px !important; margin-left: -38px !important;">
               <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
          </svg>

          <div class="modal-header">
            <slot name="header"></slot>
          </div>

          <div class="modal-body" >
            <slot name="body"></slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="modal-default-button" @click="$emit('close')">OK</button>
            </slot>
          </div>

        </div>
        <!--- ./ Контейнер модального окна --->

      </div><!--- .modal-wrapper -->
    </div><!---- modal-mask ---->
  </transition>
</template>

<script>

export default {
  name: 'UniversalModal',
  props: ['width', 'status'],
  data() {
    let wrapWidth = (!this.width) ? '35%': this.width;
    return {
       wrapWidth,
    }
  },
  computed: {
     setWrapWidth() {
        return this.wrapWidth;
     },

    modalShow() {
       return this.status
    }
  },
  methods: {
    close() {
      this.$emit('close');
    },
  },
};

</script>

<style scoped>

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: block;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  margin-top:5%;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;

}

.modal-header h3 {
  margin-top: 0;
  color: black;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>