<template>

<!-- Модальное окно для показа ставок лота -->
<LotBidListModal >
  <template v-slot:header> <h3>Ставки по лоту</h3></template>
</LotBidListModal>

<!-- Модальное для подтверждения ставки-->
<NewSetBid @event_new_bid="eventNewBidResponse" />

<!-- Сообщение после ставки -->
<BidModalBrodcastPanel />

<BaseLayout>
    <template v-slot:page-content >

      <!--- ФОРМА ПОИСКА и КАЛЕНДАРЬ   --->
      <SearchForm />
      <!--- ./ ФОРМА ПОИСКА и КАЛЕНДАРЬ --->

      <!--- Результаты поиска --->
      <div class="container" style="border: 0px red solid;">
        <div class="bottom_fixed_offset select_city_page">
          <div class="search_result_container" style="position: relative; display: block;">
            <div class="ajax_breadcrumbs_target_container" style="display: none;"></div>
            <h2 style="font-size: 25px"> Найдено: <span class="result_count"> {{this.getLotsCount}} авто </span></h2>
            <a class="btn black_btn super_button button-subscribe subscriptionWindowBtn">
              <span class="gradient"></span>
              <span class="button_label">Подписаться на новые поступления по этому поиску</span>
            </a>
          </div>
        </div>
      </div>
      <!--- ./ Результаты поиска --->

      <!--- РАУНДЫ АУКЦИОНА    --->
      <div class="search_panel_container">
        <div class="body_scroll_fix"><div class="container"><div class="trade_options" style="border-bottom: 1px #ec7616 solid; margin:0px 0px 10px 0px; ">

            <ul class="clearfix">
              <li v-for="(item) in getActiveRounds"
                  class="trade_option col-lg-3 col-md-4 col-sm-6 col-xs-12" style="height: 20px; padding-left:0px; ">
                  <a class="wrapper" @click="selectActiveAuction(item)" style="cursor: pointer;">
                    <div class="trade_option_content" :class="{'round-active-item':item.is_active}"
                           style="padding: 12px 0px 0px 10px; height: 40px;">
                      <div class="selling_page_child_name title_big"
                           style="font-size: 12px; margin: 0px 0px 4px 0px; line-height: 0;">
                           {{ item.start_date }} <span style="margin: 0px 10px 0px 10px">|</span> {{ item.end_date }}
                      </div>
                      <div class="selling_page_child_description"
                           style="font-size: 11px; margin-top: 10px; font-style: italic; display: flex">
                           <div style="width:30%" >Кол. лотов: {{ item.lots_count }}</div>
                           <div v-if="saleDateCheck(item)"
                                style="color: green; width:70%; font-weight: bold; text-align: right; padding-right: 10px"> Идут торги  </div>
                      </div>
                    </div>
                  </a>
              </li>
            </ul>

      </div></div></div></div>
      <!--- ./ РАУНДЫ АУКЦИОНА --->

      <!--- ###################### --->
      <!---  АУКЦИОН  (listing)    --->
      <div style="border:0px red solid">
        <div class="container no-padding-sm">
          <div class="bottom_fixed_offset select_city_page">

            <div class="search_result_container" style="position: relative; display: block;">

                <!---- Сортировка   ---->
                <SortingPanel />
                <!---- ./ Сортировка ---->

                <!---- Показ лотов ---->
                <div class="search_result_target_container display_type_target cars-block" style="position: relative;">
                  <div class="cars-list -cars cars-block">
                    <template v-for="(lot) in getActiveAuction">
                       <LotCard :id="'listing-lot-card-' + lot.lot_id" :item="lot"
                           @event_new_bid="eventNewBid"
                           :sale_active="saleActive"
                       />
                    </template>
                  </div>
                </div>
                <!---- ./ Показ лотов ---->

                <!--- Пагинация страниц ---->
                <PagePaginate />
                <!--- ./ Пагинация страниц ---->

                <!-- Рекламный блок   --
                <PromoBlock />
                -- ./ Рекламный блок -->

            </div>

          </div>
        </div>
      </div>
      <!---  ./ АУКЦИОН  (listing) --->
      <!--- ###################### --->

  </template>
</BaseLayout>
</template>

<script>

import {mapGetters, mapActions, mapMutations} from 'vuex';

import NewSetBid from '@/components/site/NewSetBid';
import SearchForm from '@/components/site/AuctionSearchForm';
import LotBidListModal from '@/components/site/LotBidListModal';
import SortingPanel from "@/components/site/SortingPanel";
import PagePaginate from "@/components/site/PagePaginate";
import PromoBlock from "@/components/site/PromoBlock";
import LotCard from '@/components/site/ListingLotCard';
import BidModalBrodcastPanel from '@/components/site/BidModalBrodcastPanel';

// import ListItem from '@/components/site/tmp/AuctionListItem';
// import ModalWrapper from "@/components/ModalWrapper";
// import ModalActionPanel from "@/components/ModalActionPanel";

export default {
  name: "AuctionPage",
  data: () => ({
    auctionList: [],
    auctionType: 1,
    pageCount: 0,
    saleActive: 0,
  }),

  components: {
    LotCard,
    NewSetBid,
    SearchForm,
    SortingPanel,
    PagePaginate,
    LotBidListModal,
    PromoBlock,
    BidModalBrodcastPanel,

    // ModalWrapper,
    // ModalActionPanel,
    // ListItem,
    // LotBidsShow,
  },

  created() {
    this.pageActionInit();
  },

  computed: {
    ...mapGetters([
        'getSearchForm',
        'getLotsCount',
        'getActiveRounds',
        'getActiveAuction',
        'getActiveAuctionCount',
        'getAuctionTypes',
    ]),
  },

  methods: {

    ...mapMutations([
        'setSearchForm',
        'setAlertMessage',
        'setAlertStatus',
        'setAlertType',
        'setAlertTimer',
    ]),

    ...mapActions([
        'fetchActiveRounds',
        'fetchActiveAuction',
        'fetchActiveAuctionCout',
    ]),

    pageActionInit() {
        // Получаем раунды аукционов
        this.fetchActiveRounds(this.auctionType);
    },

    eventNewBidResponse(emitResp) {
      const newBid   = emitResp.bid;
      const funcName = emitResp.fn;
      const lot      = emitResp.lot;

      this.newSetBidBrodcastEvent(emitResp);
    },

    selectActiveAuction(round) {

        this.saleActive = 0;

        for(let i in this.getActiveRounds) {
           this.getActiveRounds[i]['is_active'] = false;
        }

        round['is_active'] = true;
        let saleStatus = this.saleDateCheck(round);
        if(saleStatus) {
          this.saleActive = 1;
        }

        let roundId = round.id;
        this.fetchActiveAuctionCout(roundId);
        this.fetchActiveAuction(roundId);

    },

     saleDateCheck(round) {
        let now = new Date();
        let today = this.formatDate(now);
        let start = round.start_date;
        let end = round.end_date
        let status = false;
        if((today > start) && (today < end))
           status = true;
        return status;
     },

     formatDate(date) {

          let dd = date.getDate();
          if (dd < 10) dd = '0' + dd;

          let mm = date.getMonth() + 1;
          if (mm < 10) mm = '0' + mm;

          let yy = date.getFullYear();
          if (yy < 10) yy = '0' + yy;

          let hh = date.getHours();
          if (hh < 10) hh = '0' + hh;

          let min = date.getMinutes();
          if (min < 10) min = '0' + min;

          return yy + '-' + mm + '-' + dd + ' ' + hh + ':' + min;
     },

  },

}
</script>

<style scoped>
   .round-active-item {
      color: white;
      border-bottom: 1px orange solid;
      background: orange !important;
   }
</style>
