<template>
  <BaseLayout>
    <template v-slot:page-content>

      <template v-if="getAction == 'register'">
         <Register />
      </template >
      <template v-else-if="getAction == 'login' || getAction == 'logout'" >
         <Login />
      </template>

    </template>
  </BaseLayout>
</template>

<script>
import Login from '@/components/auth/Login'
import Register from '@/components/auth/Register'
export default {
  name: "Auth",
  data() {
     return {
     }
  },
  computed: {
     getAction() {
        return this.$route.params.action
     }
  },
  components: {
    Login, Register
  },
}
</script>

<style scoped>

</style>