<template>
<BaseLayout>
   <template v-slot:page-content>

      <div style="border:0px green solid; margin: 20px 0px 6px 0px">
        <div class="container"><div class="row">

          <div class="col-lg-4">
            <div class="booka-car-content"
                 style="margin-top:127px; padding: 5px 20px 5px 20px!important; border:0px green solid;">
                 Главная страница
            </div>
          </div>

        </div></div><!-- .row .container -->
      </div>

  </template>
</BaseLayout>
</template>

<script>

import {mapGetters, mapActions, mapMutations} from 'vuex';
import ListItem from '@/components/site/tmp/AuctionListItem';
import SearchForm from '@/components/site/AuctionSearchForm';

export default {
  name: "AuctionPage",
  data: () => ({
    auctionList: [],
    auctionType: 1,
    pageCount: 0,
    isModalShow: true,
  }),

  components: {
    ListItem,
    SearchForm,
  },

  created() {
    this.pageActionInit();
  },

  computed: {
    ...mapGetters([
      'getSearchForm',
      'getLotsCount',
      'getActiveRounds',
      'getActiveAuction',
      'getActiveAuctionCount',
      'getAuctionTypes',
    ]),

    getPageCount() {
      return this.paginator();
    },

  },

  methods: {

    ...mapMutations([
      'setSearchForm',
      'setAlertMessage',
      'setAlertStatus',
      'setAlertType',
      'setAlertTimer',
    ]),

    ...mapActions([
      'fetchActiveRounds',
      'fetchActiveAuction',
      'fetchActiveAuctionCout',
    ]),

    pageActionInit() {
      // Получаем раунды аукционов
      this.fetchActiveRounds(this.auctionType);
    },

    eventNewBid(resp) {

      this.fetchActiveAuctionCout();
      this.fetchActiveAuction();

      const newBid   = resp.newBid;
      const funcName = resp.funcName;

      let info = `
          <div>Лот Id: ${newBid.lot_id}</div>
          <div>Сумма : ${newBid.bid_price}</div>
       `;

      let infoMessage = '';

      switch (funcName) {
        case 'setBid':
          infoMessage = `<div>Новая ставка</div>` + info;
          break;

        case 'buyNow':
          infoMessage = `<div>Лот выкуплен</div>` + info;
          break;
      }

      if(infoMessage) {
        this.setAlertMessage(infoMessage);
        this.setAlertStatus(true);
      }

    },

    selectActiveAuction(round, event) {

      let panelClass  = '.round-panel-elem';
      let panelClassActive = 'active-panel';
      let itemParent = event.target.parentNode
      this.updateElemClassActive(panelClass, panelClassActive, itemParent)

      let roundId = round.id;
      this.fetchActiveAuctionCout(roundId);
      this.fetchActiveAuction(roundId);

    },

    goPage(pageNum, event) {

      const form = this.getSearchForm;
      form.page = pageNum;
      this.setSearchForm(form);
      this.fetchActiveAuction();

      let panelClass  = '.page-item';
      let panelClassActive = 'active';
      let itemParent = event.target.parentNode
      this.updateElemClassActive(panelClass, panelClassActive, itemParent)

    },

    paginator() {
      if(this.getLotsCount && this.getSearchForm && this.getSearchForm.limit) {
        let count = parseInt(this.getLotsCount);
        let limit = parseInt(this.getSearchForm.limit);
        if(count > limit)
          this.pageCount = Math.ceil(count / limit);
      }
      return this.pageCount;
    },

  },

  mounted() {
    setTimeout(() => {
      let panelClass  = '.round-panel-elem';
      let panelClassActive = 'active-panel';
      let elem = document.querySelector(panelClass);
      elem.classList.add(panelClassActive);
    }, 1000)
  },

}
</script>

<style scoped>

</style>
