<template>
  <BaseLayout>
    <template v-slot:page-content>

      <div class="container bc_popover_container">
        <div class="bc_container"><ol class="breadcrumb vertical_align_middle hidden-xs">
            <li class=""><a class="super_button orange_btn" href="#">
                <span class="button_label no_icon">Профили</span>
            </a></li>
            <li class=""><a class="super_button orange_btn" href="#">
                <span class="button_label no_icon">Мои ставки</span>
            </a></li>
            <li class=""><a class="super_button orange_btn" href="#">
                <span class="button_label no_icon">Мои лоты</span>
            </a></li>
            <li class=""><a class="super_button orange_btn" href="#">
                <span class="button_label no_icon">Добавить лот</span>
            </a></li>
        </ol></div>
      </div>

      <div class="container no_padding_xs"><div class="row page-content-row">

<!--        <pre>{{user}}</pre>-->

        <Profiles
          :profiles="profiles"
          :user="user"
          @save="saveProfile"
        />

        <!----------------------
        <div class="col-lg-4 col-md-4"><div class="additional_page_menu">
            <div class="menu-header icon-angle-down"></div>
            <div class="menu_container" style="border-top: 1px gainsboro solid; padding: 10px"></div>
        </div></div>
        <div class="col-lg-8 col-md-8"><div class="page_content_in_block clearfix no_border_xs"></div></div>
        ----------------------->

      </div></div>

    </template>
  </BaseLayout>
</template>

<script>

import { mapState, mapActions } from 'pinia';
import {useUsersStore} from '@/store/users';
import Profiles from '@/components/site/profiles/Profiles';

export default {
  name: "PersonalCabinet",
  data: () => ({
  }),

  components: {
    Profiles
  },

  created() {
     if(this.user && this.user.id) {
       let userId = this.user.id;
       this.getUserProfiles(userId);
     }
  },

  computed: {
    ...mapState(useUsersStore, [
      'user', 'token', 'profiles',
      'profile', 'user_id', 'profile_id',
    ]),
  },

  methods: {
    ...mapActions(useUsersStore, [
        'logout',
        'getUserProfiles',
        'loadLocalStoreInfo',
        'setActiveProfile',
        'createProfile',
        'updateProfile',
    ]),

    saveProfile(profile) {
       if(profile.id) {
          this.updateProfile(profile.id, profile);
       } else {
          this.createProfile(profile);
       }
    },
  }, // --- methods

}
</script>

<style scoped>
.breadcrumb > li:after {
  content: "";
   /*content: " /";*/
}
</style>
