<template>
  <AlertInfoMessage/>
  <router-view/>
</template>

<script>
export default {
  name: "App",
}
</script>

<style>

/**********************************/
/*  Базовые стили для всего сайты */

select {
  cursor: pointer;
  margin: 3px;
  border: 1px gainsboro solid;
  background-color: white;
  padding: 6px;
  font-size: 15px;
  opacity: 1;
  color: black;
}

select:focus {
  outline: none;
  border: 1px gainsboro solid;
}


</style>
