
/*  МЕДИА ЗАПРОСЫ ДЛЯ ВСЕГО САЙТА */

/*************************/
/* WIDTH МЕНЬШЕ 1365  ****/
@media screen and (max-width: 1365px) {
    /*body {background-color: red;}*/
    .header .header-buttons {
        width: 100%;
        display: flex;
    }

    .profile-menu-box {
        margin-top: 0px !important;
        padding: 4px 10px 0px 0px;
    }

    .search-select-box {
        width: 50% !important;
    }
}
/* ./ WIDTH МЕНЬШЕ 1365  */
/*************************/

/************************/
/* WIDTH МЕНЬШЕ 1308  ***/
@media screen and (max-width: 1308px) {
    /*body {background-color: red;}*/

    .search-select-box {
        width: 50% !important;
    }

}
/* ./ WIDTH МЕНЬШЕ 1308  */
/*************************/


/*************************/
/* WIDTH МЕНЬШЕ 992    ***/
@media screen and (max-width: 992px) {
    /*body {background-color: blue;}*/
    .search_panel .main_params_block {
        background: #ec7616;
    }
}
/*  ./ WIDTH МЕНЬШЕ 992 ***/
/**************************/


/*************************/
/* WIDTH МЕНЬШЕ 768    ***/
@media screen and (max-width: 768px) {
    /*body {background-color: green;}*/

    .collapse { display: block;}
    .collapse .nav-link,
    .header-buttons span {
        font-size: 1.1rem !important;
    }

    .navbar-nav {
        display: flex;
    }

}
/*  ./ WIDTH МЕНЬШЕ 768  ***/
/**************************/


/*************************/
/* WIDTH МЕНЬШЕ 600    ***/
@media screen and (max-width: 600px) {
    /*body {background-color: olive;}*/
}
/* ./ WIDTH МЕНЬШЕ 600  ***/
/*************************/