<template>
<AdminLayout>
  <template v-slot:page-content >

      <!----------------------
      <section class="section-padding" style="margin-top: 80px; padding: 0;">
        <div class="container"><div class="row"><div class="col-lg-12"><div class="popular-cars-wrap">
          <div class="popucar-menu text-center" style="margin-bottom: 20px;">
              <a @click="loadAdminPanel('rounds-panel', $event)" class="admin-panel-elem admin-panel-active">Раунды</a>
              <a @click="loadAdminPanel('auction-panel', $event)" class="admin-panel-elem">Панель аукциона</a>
          </div>
      </div></div></div></div></section>
      ----------------------->

      <!-- Bread crumb and right sidebar toggle -->
<!--      <div class="row page-titles" style="border: 0px red solid; padding: 0px 20px 0px 20px; margin: 0px auto 0px auto;">-->
<!--          <div class="col-md-5 align-self-center"><h3 class="text-themecolor"> Dashboard </h3></div>-->
<!--          <div class="col-md-7 align-self-center"><ol class="breadcrumb">-->
<!--              <li class="breadcrumb-item"><a >Home</a></li>-->
<!--              <li class="breadcrumb-item active">Dashboard</li>-->
<!--          </ol></div>-->
<!--          <div><button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10">-->
<!--            <i class="ti-settings text-white"></i>-->
<!--          </button></div>-->
<!--      </div>-->

      <!--   Container fluid  -->
      <div class="container-fluid" style="border: 0px green solid">
        <component :is="panelName"></component>
      </div>
      <!-- ./ End Container fluid  -->

  </template>
</AdminLayout>
</template>

<script>

import {mapGetters, mapActions} from 'vuex';
import RoundsPanel from '@/components/admin/RoundsPanel';
import AuctionPanel from '@/components/admin/AuctionPanel';

export default {

  data: () => ({
     auctionList: [],
     panelName: 'rounds-panel',
  }),

  created() {
     this.pageAdminInit();
  },

  computed: {
    ...mapGetters(['getActiveRounds',])
  },

  components: {
    'rounds-panel': RoundsPanel,
    'auction-panel': AuctionPanel,
  },

  methods: {

    ...mapActions(['fetchActiveRounds',]),

    pageAdminInit() {
       this.fetchActiveRounds();
    },

    loadAdminPanel(name, event) {
       this.panelName = name;
       let panelClass  = '.admin-panel-elem';
       let panelClassActive = 'admin-panel-active';
       this.updateElemClassActive(panelClass, panelClassActive, event.target)
    },
  },

}
</script>

<style scoped>

</style>
