<template>

  <div class="fw_win_content_container form_window"
       style="border:0px red solid; width: 50%; margin: 0px auto 0px auto">
    <div class="fw_win_content fw_win_form_content fw_win_common_offset">

      <!----- ФОРМА РЕГИСТРАЦИИ -------->
      <div class="form_wrapper" style="width: 100%; margin: 0px auto 0px auto">

        <div class="fields_group with_checkbox" style="padding: 0px">
          <h2 style="text-align: center">Регистрация</h2>

          <!----- ПОКАЗ ОШИБОК или РЕЗУЛЬТАТОВ ----->
          <ResponseMessage
              style="width: 80%; margin: 10px auto 10px auto;"
              v-if="responseHandle.status"
              :code="responseHandle.code"
              :response="responseHandle" />
          <!----- ./ ПОКАЗ ОШИБОК или РЕЗУЛЬТАТОВ ----->

          <!--- Форма авторизации ---->
          <div class="fields_group_content clearfix"
               style="border:1px gainsboro solid; width: 380px; margin: 0px auto 0px auto; padding: 20px">

              <InputText v-model="authData.email"
                         title="Email" placeholder="Email" :required=true />
              <InputText v-model="authData.password"
                         title="Пароль" placeholder="Пароль" :required=true />

          </div>
          <!--- ./ Форма авторизации --->

        </div>

        <!---- Submit button ----->
        <div style="display: flex; width: 380px; margin: 0px auto 0px auto;">
          <div class="fields_group"
               style="border:0px gainsboro solid; width: 100%; margin: 0px; padding: 0px;">
              <a @click.prevent="login()"
                 class="submit_button super_button orange_btn block_button" href="#" style="max-width: 100%; height: 50px">
                 <span class="gradient"></span>
                 <span class="button_label no_icon" >Отправить</span>
              </a>
          </div>
        </div>
        <!---- ./ Submit button ----->

      </div>
      <!----- ./ ФОРМА РЕГИСТРАЦИИ ----->

    </div>
  </div>

</template>

<script>

import {reactive} from 'vue';
import ResponseMessage from '@/components/ResponseMessageHandle';
import {useUsersStore} from '@/store/users';
import { useRouter, useRoute } from 'vue-router'

export default {

  components: {
    ResponseMessage
  },

  setup() {

    const router = useRouter()
    const route = useRoute()

    const responseInfo = reactive({
      status: false,
      error: false,
      message: '',
    })

    const authData = reactive({
       email: 'test1@mail.ru',
       password: '1234',
    })

    const responseHandle = reactive({
        errors: '',
        message: '',
        status: '',
        code: '',
        errorMessage: '',
        statusText: '',
    })

    const userStore = useUsersStore();

    const login = () => {
       userStore.login(authData).then(response => {

         if(response.result) {
             const result = response.result
             responseHandle.message = "Авторизация прошла успешно!";
             responseHandle.status = 200;
             responseHandle.code = 200;
             responseHandle.errorMessage = '';
             responseHandle.statusText = '';
             responseHandle.errors = '';

             if(result.error) {
                responseInfo.error = true;
             } else {
               router.push('/personal-cabinet');
             }
         }
       }).catch(error => {

         if(error.response) {
             let response    = error.response;
             responseHandle.errors = response.data.errors;
             responseHandle.message = response.data.message;
             responseHandle.status = response.status;
             responseHandle.code = response.status;
             responseHandle.errorMessage = error.message;
             responseHandle.statusText = response.statusText;
         }
       })
    }

    const clear = () => {
      responseInfo.status = false;
    }

    return {
      authData,
      responseInfo,
      login,
      clear,
      responseHandle,
    }
  },
}

</script>

<style scoped>

</style>