<template>

<div class="fw_win_content_container form_window"
     style="border:0px red solid; width: 50%; margin: 0px auto 0px auto">
    <div class="fw_win_content fw_win_form_content fw_win_common_offset">

      <!----- ФОРМА РЕГИСТРАЦИИ -------->
      <div class="form_wrapper" style="width: 100%; margin: 0px auto 0px auto">

          <div class="fields_group with_checkbox" style="padding: 0px">
            <h2 style="text-align: center">Регистрация</h2>

            <!----- ПОКАЗ ОШИБОК или РЕЗУЛЬТАТОВ ----->
            <ResponseMessage
                style="width: 80%; margin: 10px auto 10px auto;"
                v-if="responseHandle.status"
                :code="responseHandle.code"
                :response="responseHandle" />
            <!----- ./ ПОКАЗ ОШИБОК или РЕЗУЛЬТАТОВ ----->

            <div class="fields_group_content clearfix"
                 style="border:1px gainsboro solid; width: 380px; margin: 0px auto 0px auto; padding: 20px">

              <InputText v-model="userRegister.username"
                         title="Имя" placeholder="Имя" :required=true />

              <InputText v-model="userRegister.email"
                         title="Email" placeholder="Email" :required=true />

              <InputText v-model="userRegister.password"
                         title="Пароль" placeholder="Пароль" :required=true />

              <InputText v-model="userRegister.password_confirmation"
                         title="Повторите пароль" placeholder="Повторите пароль" :required=true />

              <InputText v-model="userRegister.lastname"
                         title="Фамилия" placeholder="Фамилия" />

              <InputText v-model="userRegister.phone"
                         title="Телефон" placeholder="Телефон" />

            </div>

          </div>

          <!---- Submit button ----->
          <div style="display: flex; width: 380px; margin: 0px auto 0px auto;">
            <div class="fields_group"
                 style="border:0px gainsboro solid; width: 60%; margin: 0px; padding: 0px;">
                 <a @click.prevent="createUser()"
                    class="submit_button super_button orange_btn block_button" href="#" style="max-width: 100%; height: 50px">
                    <span class="gradient"></span>
                    <span class="button_label no_icon" >Сохранить данные</span>
                 </a>
            </div>

            <div class="fields_group"
                 style="border:0px gainsboro solid; width: 30%; margin: 0px 0px 0px auto; padding: 0px;">
                <a @click.prevent="clear()"
                   class="submit_button super_button orange_btn block_button" href="#" style="max-width: 100%; height: 50px">
                  <span class="gradient"></span>
                  <span class="button_label no_icon" >Очистить форму</span>
                </a>
            </div>
          </div>
          <!---- ./ Submit button ----->

      </div>
      <!----- ./ ФОРМА РЕГИСТРАЦИИ ----->

    </div>
</div>

</template>

<script>

import {reactive} from 'vue';

import ResponseMessage from '@/components/ResponseMessageHandle';
import {useUsersStore} from '@/store/users';

export default {

  components: {
    ResponseMessage
  },

  setup() {

    const regError = reactive({
        status: false,
        code: null,
        messages: null,
        original_message: null
    })

    const successInfo = reactive({
        status: false,
        message: null,
        user: null,
    })

    const userRegister = reactive({
        username: '',
        lastname: '',
        phone: '',
        email: '',
        password: '',
        password_confirmation: '',
        role: 3,
    })

    const responseHandle = reactive({
        errors: '',
        message: '',
        status: '',
        code: '',
        errorMessage: '',
        statusText: '',
    })

    const userStore = useUsersStore();

    const createUser = () => {

      userStore.register(userRegister).then(response => {
          let result = response.result;
          regError.status = false;
          successInfo.status = false;
          if (result.save) {
              responseHandle.errors  = '';
              responseHandle.message = "Пользователь успешно создан!";;
              responseHandle.status  = 200;
              responseHandle.code    = 200;
              responseHandle.errorMessage = '';
              responseHandle.statusText    = '';
              clearForm();
          }
          console.log(response);
      }).catch(error => {
         if(error.response) {
            let response    = error.response;
            responseHandle.errors = response.data.errors;
            responseHandle.message = response.data.message;
            responseHandle.status = response.status;
            responseHandle.code = response.status;
            responseHandle.errorMessage = error.message;
            responseHandle.statusText = response.statusText;
         }
         console.log(error);
      })

    }

    const clearForm = () => {
      for (let name in userRegister) {
        userRegister[name] = ''
      }
      userRegister.role = 3;
    }

    const clear = () => {
      clearForm();
      regError.status = false;
      successInfo.status = false;
    }

    return {
      userRegister,
      createUser,
      successInfo,
      regError,
      clearForm,
      clear,
      responseHandle,
    }
  },
}

</script>

<style scoped>

</style>